In [41]:
import pandas as pd

staff_df = pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                         {'Name':'Sally','Role':'Course liasion'},
                          {'Name':'James','Role':'Grader'}])

staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name':'James','School':'Business'},
                         {'Name':'Mike','School':'Law'},
                          {'Name':'Sally','School':'Engineering'}])

student_df=student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [42]:
pd.merge(staff_df, student_df,how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [43]:
pd.merge(staff_df, student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [44]:
pd.merge(staff_df, student_df,how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [45]:
pd.merge(staff_df, student_df,how='right',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [46]:
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()
staff_df

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader

In [47]:
pd.merge(staff_df,student_df, how='right',on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [49]:
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR',
                       'Location':'State Street'},
                      {'Name':'Sally','Role':'Course Liasion',
                      'Location':'Washington Avenue'},
                      {'Name':'James','Role':'Grader',
                      'Location':'Washington Avenue'}])

student = pd.DataFrame([{'Name':'Sally','School':'Engineering',
                       'Location':'512 Wilcon Crescent'},
                      {'Name':'Mike','School':'Law',
                      'Location':'Farternity House #22'},
                      {'Name':'James','School':'Business',
                      'Location':'10254 Billiard Avenue'})]

In [52]:
pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role           Location       School
0  Kelly  Director of HR       State Street          NaN
1  Sally  Course Liasion  Washington Avenue  Engineering
2  James          Grader  Washington Avenue     Business

In [73]:
staff_df=pd.DataFrame([{'First Name':'Kelly','Last Name':'Roset','Role':'HR'},
                      {'First Name':'Sally','Last Name':'Washington','Role': 'Liasion'},
                      {'First Name':'James','Last Name':'Smith','Role':'Grader'}])

student_df = pd.DataFrame([{'First Name':'Kelly','Last Name':'Bure','School':'Director of HR'},
                      {'First Name':'Sally','Last Name':'Wake','School':'Course Liasion'},
                      {'First Name':'James','Last Name':'Smith','School':'Waiter'}])
                       
pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name    Role  School
0      James     Smith  Grader  Waiter

## Dataset playgroud

In [37]:
import os
import numpy as np
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\gregb\\OneDrive\\Documents\\courses\\coursera\\Uni_Mich_IntoToDataScienceInPython'

In [4]:
df = pd.read_csv('week3/covid_19_data.csv')

In [5]:
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [13]:
%%timeit n=3
for state in df['Province/State'].unique():
    avg = np.average(df.where(df['Province/State']==state).dropna()['Confirmed'])
    print(state ,str(avg))

Anhui 964.2874493927126
Beijing 833.9534412955466
Chongqing 571.0546558704453
Fujian 427.165991902834
Gansu 159.82862903225808
Guangdong 1811.6923076923076
Guangxi 253.28542510121457
Guizhou 142.35425101214574
Hainan 167.18421052631578
Hebei 603.4828282828283
Heilongjiang 1027.6234817813765
Henan 1252.919028340081
Hong Kong 5376.386639676113
Hubei 65303.63232323233
Hunan 998.5506072874493
Inner Mongolia 264.46153846153845
Jiangsu 653.9736842105264
Jiangxi 909.1963562753036
Jilin 247.05668016194332
Liaoning 261.2712550607287
Macau 41.71052631578947
Ningxia 72.68016194331983
Qinghai 17.657894736842106
Shaanxi 406.7631578947368
Shandong 798.417004048583
Shanghai 1106.6336032388665
Shanxi 201.42307692307693
Sichuan 708.4291497975709
Taiwan 22.53061224489796
Tianjin 252.46963562753035
Tibet 0.9959016393442623
Washington 162655.5899122807
Xinjiang 614.8603238866397
Yunnan 213.89473684210526
Zhejiang 1255.5708502024293
nan nan

C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Unknown 1892.837496968227
Chicago 1.0
Illinois 580695.7770419426
California 1541809.7632743362
Arizona 368085.61504424777
Ontario 150388.55263157896
New South Wales 3777.756646216769
Victoria 12981.165644171779
British Columbia 35255.22131147541
Bavaria 4.25
Queensland 1077.148148148148
Chicago, IL 2.033333333333333
South Australia 474.9111570247934
Boston, MA 1.0
Los Angeles, CA 2.763157894736842
Orange, CA 1.0
Santa Clara, CA 3.742857142857143
Seattle, WA 1.4333333333333333
Tempe, AZ 1.0
San Benito, CA 2.0
Toronto, ON 7.0
London, ON 1.0
Madison, WI 1.0
Cruise Ship 61.0
Diamond Princess cruise ship 51.91125541125541
San Diego County, CA 2.107142857142857
San Antonio, TX 1.0
Ashland, NE 11.0
Travis, CA 5.0
From Diamond Princess 2.608695652173913
Lackland, TX 2.0
None 1.0
Humboldt County, CA 1.0
Sacramento County, CA 1.6666666666666667
Omaha, NE (From Diamond Princess) 1.2941176470588236
Travis, CA (From Diamond Princess) 0.5882352941176471
Lackland, TX (From Diamond Princess) 0.23529411764705882
Unassigned Location (From Diamond Princess) 43.2
 Montreal, QC 1.7
Western Australia 714.0767543859649
Portland, OR 1.3333333333333333
Snohomish County, WA 14.7
Providence, RI 1.8333333333333333
King County, WA 51.5
Cook County, IL 5.25
Tasmania 211.9625550660793
Grafton County, NH 2.375
Hillsborough, FL 1.875
New York City, NY 1.75
Placer County, CA 3.5
San Mateo, CA 1.875
Sarasota, FL 1.0
Sonoma County, CA 1.25
Umatilla, OR 1.0
Fulton County, GA 2.7142857142857144
Washington County, OR 3.857142857142857
 Norfolk County, MA 1.4
Berkeley, CA 1.0
Maricopa County, AZ 2.0
Wake County, NC 1.0
Westchester County, NY 40.857142857142854
Orange County, CA 3.1666666666666665
Northern Territory 61.73893805309734
Contra Costa County, CA 5.333333333333333
Bergen County, NJ 3.2
Harris County, TX 4.2
San Francisco County, CA 6.2
Clark County, NV 1.4
Fort Bend County, TX 3.4
Grant County, WA 1.0
Queens County, NY 1.0
Santa Rosa County, FL 1.0
Williamson County, TN 1.0
New York County, NY 14.5
Unassigned Location, WA 5.0
Montgomery County, MD 3.5
Suffolk County, MA 5.5
Denver County, CO 2.0
Summit County, CO 2.0
Calgary, Alberta 1.0
Chatham County, NC 1.0
Delaware County, PA 1.0
Douglas County, NE 1.5
Fayette County, KY 1.0
Floyd County, GA 1.5
Marion County, IN 1.0
Middlesex County, MA 4.0
Nassau County, NY 6.75
Norwell County, MA 1.0
Ramsey County, MN 1.0
Washoe County, NV 1.5
Wayne County, PA 1.0
Yolo County, CA 1.0
Santa Clara County, CA 36.0
Grand Princess Cruise Ship 21.0
Douglas County, CO 3.0
Providence County, RI 3.0
Alameda County, CA 2.0
Broward County, FL 2.3333333333333335
Fairfield County, CT 1.3333333333333333
Lee County, FL 2.0
Pinal County, AZ 2.0
Rockland County, NY 2.6666666666666665
Saratoga County, NY 2.0
Edmonton, Alberta 2.0
Charleston County, SC 1.0
Clark County, WA 1.0
Cobb County, GA 1.6666666666666667
Davis County, UT 1.0
El Paso County, CO 1.0
Honolulu County, HI 1.3333333333333333
Jackson County, OR  1.6666666666666667
Jefferson County, WA 1.0
Kershaw County, SC 2.0
Klamath County, OR 1.0
Madera County, CA 1.0
Pierce County, WA 3.0
Plymouth County, MA 1.0
Santa Cruz County, CA 1.0
Tulsa County, OK 1.0
Montgomery County, TX 0.0
Norfolk County, MA 6.0
Montgomery County, PA 4.5
Fairfax County, VA 2.0
Rockingham County, NH 1.5
Washington, D.C. 2.0
Berkshire County, MA 1.0
Davidson County, TN 1.0
Douglas County, OR 1.0
Fresno County, CA 1.0
Harford County, MD 1.0
Hendricks County, IN 1.5
Hudson County, NJ 1.0
Johnson County, KS 1.0
Kittitas County, WA 1.0
Manatee County, FL 1.5
Marion County, OR 1.0
Okaloosa County, FL 1.0
Polk County, GA 1.0
Riverside County, CA 1.0
Shelby County, TN 1.0
Spokane County, WA 1.0
St. Louis County, MO 1.0
Suffolk County, NY 1.0
Ulster County, NY 1.0
Unassigned Location, VT 1.0
Unknown Location, MA 1.0
Volusia County, FL 1.0
Alberta 64660.55033557047
Quebec 147036.9485458613
Johnson County, IA 3.0
Harrison County, KY 2.0
Bennington County, VT 1.0
Carver County, MN 1.0
Charlotte County, FL 1.0
Cherokee County, GA 1.0
Collin County, TX 1.0
Jefferson County, KY 1.0
Jefferson Parish, LA 1.0
Shasta County, CA 1.0
Spartanburg County, SC 1.0
New York 853445.9192825112
Massachusetts 283214.0605381166
Grand Princess 56.84467120181406
Georgia 478134.8609865471
Colorado 202071.34753363227
Florida 962935.4192825112
New Jersey 412702.2399103139
Oregon 72656.51121076233
Texas 1237757.591928251
Pennsylvania 433321.16367713007
Iowa 165930.1995515695
Maryland 196739.96412556054
North Carolina 390192.0134529148
South Carolina 236037.86322869954
Tennessee 361079.9484304933
Virginia 266133.2399103139
Indiana 302475.4955156951
Kentucky 175385.43721973093
District of Columbia 22147.14798206278
Nevada 139250.87443946188
New Hampshire 32482.529147982063
Minnesota 237699.38116591927
Nebraska 97485.34977578475
Ohio 426220.1860986547
Rhode Island 59868.15246636771
Wisconsin 291573.74887892377
Connecticut 135790.76457399104
Hawaii 14757.163677130045
Oklahoma 185332.9529147982
Utah 168368.39461883408
Kansas 133521.5201793722
Louisiana 220789.00448430493
Missouri 259427.34753363227
Vermont 6983.103139013453
Alaska 26574.573033707864
Arkansas 146450.97757847534
Delaware 41534.988789237665
Idaho 81848.54484304933
Maine 19714.81614349776
Michigan 342357.60313901346
Mississippi 143346.067264574
Montana 44937.08071748879
New Mexico 83253.40807174888
North Dakota 49021.16816143498
South Dakota 54522.5067264574
West Virginia 55564.63452914798
Wyoming 24077.681614349774
France 7116.727272727273
UK 456.0
Denmark 929.9090909090909
Faroe Islands 434.4561797752809
St Martin 685.6651685393258
Channel Islands 1816.1325842696629
New Brunswick 658.6449438202247
Saint Barthelemy 249.6314606741573
Gibraltar 1639.7550561797752
Australian Capital Territory 110.95936794582393
United Kingdom 2320.777777777778
French Polynesia 8531.135440180587
Manitoba 14247.205417607223
Saskatchewan 12454.539503386004
Alabama 238278.86681715577
Fench Guiana 5.0
Puerto Rico 54538.72624434389
Virgin Islands, U.S. 1.0
French Guiana 10019.990929705215
Guam 4023.421768707483
Newfoundland and Labrador 468.3582766439909
Prince Edward Island 78.33106575963718
Mayotte 7210.2154195011335
Netherlands 2375.6666666666665
Nova Scotia 1418.6842105263158
Guadeloupe 5787.356818181818
Curacao 3020.6204545454543
Virgin Islands 1430.6826484018266
Cayman Islands 279.9681818181818
Reunion 6947.175398633258
Aruba 4249.42694063927
United States Virgin Islands 3.25
US 1.0
Montserrat 13.826484018264841
Greenland 19.82608695652174
New Caledonia 45.4370709382151
Bermuda 564.62471395881
Sint Maarten 987.3050458715596
Isle of Man 568.1559633027523
Northwest Territories 24.05787037037037
American Samoa 0.0
External territories 0.0
Jervis Bay Territory 0.0
Martinique 3820.8571428571427
Northern Mariana Islands 87.36175115207374
Nunavut 159.44083526682135
Saint Helena, Ascension and Tristan da Cunha 2.046403712296984
Wuhan Evacuee 4.0
Recovered 0.0
Yukon 38.38139534883721
Anguilla 15.978971962616823
British Virgin Islands 78.75700934579439
Turks and Caicos Islands 925.5163551401869
Bonaire, Sint Eustatius and Saba 211.4822695035461
Falkland Islands (Islas Malvinas) 1.6666666666666667
Saint Pierre and Miquelon 13.064285714285715
Falkland Islands (Malvinas) 27.54066985645933
Abruzzo 28582.59842519685
Andalusia 234644.6062992126
Aragon 62532.19160104987
Asturias 22218.225721784776
Baden-Wurttemberg 184367.62992125985
Baleares 28481.808398950132
Basilicata 8597.343832020997
Bayern 250076.1338582677
Berlin 70768.65354330708
Brandenburg 37930.7532808399
Bremen 10435.795275590552
C. Valenciana 162145.58792650918
Calabria 20694.76902887139
Campania 146864.1338582677
Canarias 23381.325459317584
Cantabria 14052.07349081365
Castilla - La Mancha 90404.66666666667
Castilla y Leon 111355.27034120735
Catalonia 299798.15223097114
Ceuta 2460.170603674541
Emilia-Romagna 148519.74540682413
Extremadura 33575.40157480315
Friuli Venezia Giulia 40184.545931758534
Galicia 56364.24409448819
Hamburg 29572.286089238845
Hessen 103896.43307086614
La Rioja 15748.8031496063
Lazio 126090.2309711286
Liguria 46019.68503937008
Lombardia 368821.79527559056
Madrid 346874.43832020997
Marche 38008.02362204724
Mecklenburg-Vorpommern 12796.574803149606

Melilla 3706.706036745407
Molise 5255.645669291339
Murcia 51856.46194225722
Navarra 31944.8687664042
Niedersachsen 91728.40157480315
Nordrhein-Westfalen 301254.4251968504
P.A. Bolzano 27148.002624671917
P.A. Trento 19045.706036745407
Pais Vasco 88591.48031496063
Piemonte 150366.968503937
Puglia 79775.05511811023
Rheinland-Pfalz 55675.55905511811
Saarland 15745.514435695539
Sachsen 97595.41469816273
Sachsen-Anhalt 30195.929133858266
Sardegna 22094.85564304462
Schleswig-Holstein 22404.443569553805
Sicilia 77584.49606299213
Thuringen 39418.92650918635
Toscana 91390.88451443569
Umbria 22518.377952755905
Valle d'Aosta 5127.270341207349
Veneto 174958.93700787402
Acre 39726.962666666666
Aguascalientes 13476.352
Alagoas 99268.44266666667
Amapa 61328.354666666666
Amazonas 74322.19386834986
Antofagasta 25597.525333333335
Araucania 24996.002666666667
Arica y Parinacota 10346.128
Atacama 8510.882666666666
Aysen 1647.2853333333333
Bahia 444558.256
Baja California 28429.653333333332
Baja California Sur 15510.866666666667
Biobio 46650.536
Campeche 6357.664
Ceara 328999.8213333333
Chiapas 7657.533333333334
Chihuahua 25968.034666666666
Ciudad de Mexico 294911.792
Coahuila 38956.144
Colima 6483.026666666667
Coquimbo 14997.888
Distrito Federal 217872.936
Durango 18028.877333333334
Espirito Santo 212986.768
Goias 269545.2426666667
Guanajuato 67931.38133333334
Guerrero 23180.413333333334
Hidalgo 20486.565333333332
Jalisco 44526.130666666664
Los Lagos 27554.232
Los Rios 10987.074666666667
Magallanes 13148.104
Maranhao 178696.84266666666
Mato Grosso 168082.33066666668
Mato Grosso do Sul 113249.72533333334
Maule 28289.176
Metropolitana 316701.08266666665
Mexico 129708.88266666667
Michoacan 27252.613333333335
Minas Gerais 549761.2773333334
Morelos 13478.936
Nayarit 7106.858666666667
Nuble 11044.053333333333
Nuevo Leon 66034.968
OHiggins 22278.498666666666
Oaxaca 24978.448
Para 271461.312
Paraiba 155648.29866666667
Parana 389845.17066666664
Pernambuco 206443.24266666666
Piaui 124122.168
Puebla 44202.71466666667
Queretaro 28845.357333333333
Quintana Roo 14117.76
Rio Grande do Norte 109565.192
Rio Grande do Sul 399298.48
Rio de Janeiro 387928.128
Rondonia 97817.184
Roraima 58421.10666666667
San Luis Potosi 33732.792
Santa Catarina 403174.01866666664
Sao Paulo 1390157.1866666668
Sergipe 104950.832
Sinaloa 23374.109333333334
Sonora 41943.973333333335
Tabasco 38770.55733333333
Tamaulipas 34058.89333333333
Tarapaca 16743.597333333335
Tlaxcala 10519.656
Tocantins 81000.728
Valparaiso 38012.896
Veracruz 37863.632
Yucatan 22162.824
Zacatecas 15428.666666666666
Aichi 14612.708446866485
Akita 171.4822888283379
Ancash 30855.059945504086
Antioquia 218084.34877384195
Aomori 518.8937329700273
Apurimac 7668.550408719346
Arauca 3426.198910081744
Arequipa 43360.67302452316
Atlantico 99337.44959128066
Ayacucho 13788.196185286104
Bolivar 43936.46866485014
Boyaca 24405.31607629428
Cajamarca 24274.604904632153
Caldas 25877.367847411446
Callao 44879.651226158036
Capital District 408560.5994550409
Caqueta 10899.307901907358
Casanare 7040.0
Cauca 15789.185286103542
Cesar 27191.610354223434
Chiba 13289.25068119891
Choco 4826.743869209809
Cordoba 27140.637602179835
Cundinamarca 61015.8446866485
Cusco 24959.384196185285
Ehime 683.2697547683923
Fukui 388.9291553133515
Fukuoka 10299.569482288829
Fukushima 1176.9373297002726
Gifu 2396.41689373297
Gunma 2391.376021798365
Hiroshima 2646.3188010899185
Hokkaido 10778.809264305177
Huancavelica 7059.226158038147
Huanuco 17670.024523160762
Huila 27400.73841961853
Hyogo 10767.397820163487
Ibaraki 2996.5204359673025
Ica 29415.25068119891
Ishikawa 1187.931880108992
Junin 28540.449591280652
Kagawa 435.8038147138965
Kagoshima 999.9100817438692
Kanagawa 22592.485013623977
Kochi 471.9509536784741
Kumamoto 1843.6920980926432
Kyoto 5006.820163487739
La Guajira 12145.716621253407
La Libertad 35069.79564032698
Lambayeque 30416.58310626703
Lima 451674.14441416896
Loreto 23323.49863760218
Madre de Dios 8045.362397820163
Magdalena 24493.719346049045
Meta 25703.34877384196
Mie 1416.683923705722
Miyagi 2498.3351498637603
Miyazaki 988.0980926430518
Moquegua 13675.378746594006
Nagano 1361.6021798365123
Nagasaki 820.258855585831
Nara 2058.0899182561307
Narino 28888.17711171662
Niigata 726.0408719346049
Norte de Santander 29209.64577656676
Oita 721.392370572207
Okayama 1445.0435967302453
Okinawa 5213.959128065395
Osaka 29623.49863760218
Pasco 6449.91280653951
Piura 40341.801089918255
Port Quarantine 1509.8147138964578
Puno 16094.768392370572
Putumayo 5052.599455040872
Quindio 17474.681198910082
Risaralda 26292.34877384196
Saga 637.6594005449591
Saitama 15381.959128065395
San Andres y Providencia 1836.9891008174386
San Martin 22090.76021798365
Santander 53585.882833787466
Shiga 1416.9809264305177
Shimane 190.71117166212534
Shizuoka 2636.8610354223433
Sucre 15585.32970027248
Tacna 13168.994550408719
Tochigi 2017.1607629427792
Tokushima 352.02724795640324
Tokyo 61398.158038147136
Tolima 34084.71662125341
Tottori 127.1716621253406
Toyama 637.1307901907356
Tumbes 8725.119891008175
Ucayali 18424.811989100817
Valle del Cauca 116607.53133514986
Vaupes 821.841961852861
Wakayama 738.1198910081744
Yamagata 439.1008174386921
Yamaguchi 719.3024523160763
Yamanashi 534.8065395095368
Guainia 886.1284153005464
Vichada 823.7808219178082
Adygea Republic 8299.195592286502
Altai Krai 26786.093663911844
Altai Republic 9435.914600550965
Amur Oblast 11790.630853994491
Arkhangelsk Oblast 32844.12396694215
Astrakhan Oblast 16349.928374655647
Bashkortostan Republic 17741.581267217633
Belgorod Oblast 18797.438016528926
Bryansk Oblast 20082.67217630854
Buryatia Republic 19216.757575757576
Chechen Republic 6353.650137741047
Chelyabinsk Oblast 30494.790633608816
Cherkasy Oblast 28500.67217630854
Chernihiv Oblast 21292.112947658403
Chernivtsi Oblast 34696.2479338843
Chukotka Autonomous Okrug 418.0192837465565
Chuvashia Republic 14042.70523415978
Crimea Republic* 18704.71349862259
Dagestan Republic 19976.366391184572
Dnipropetrovsk Oblast 44686.65840220386
Donetsk Oblast 28973.878787878788
Ingushetia Republic 9458.669421487602
Irkutsk Oblast 34967.64462809917
Ivano-Frankivsk Oblast 37210.440771349866
Ivanovo Oblast 18173.2782369146
Jewish Autonomous Okrug 2569.99173553719
Kabardino-Balkarian Republic 13597.81267217631
Kaliningrad Oblast 14977.292011019284
Kalmykia Republic 11469.476584022039
Kaluga Oblast 18376.044077134986
Kamchatka Krai 8263.90909090909
Karachay-Cherkess Republic 11977.34435261708
Karelia Republic 20653.977961432505
Kemerovo Oblast 19186.396694214876
Khabarovsk Krai 27575.465564738293
Khakassia Republic 12171.43526170799
Khanty-Mansi Autonomous Okrug 34099.36914600551
Kharkiv Oblast 55480.55371900826
Kherson Oblast 12329.823691460055
Khmelnytskyi Oblast 31323.471074380166
Kiev 82471.82369146006
Kiev Oblast 45943.030303030304
Kirov Oblast 20889.936639118456
Kirovohrad Oblast 6728.32782369146
Komi Republic 22548.790633608816
Kostroma Oblast 10990.388429752065
Krasnodar Krai 24267.581267217633
Krasnoyarsk Krai 38404.87052341598
Kurgan Oblast 9900.250688705235
Kursk Oblast 18363.46005509642
Leningrad Oblast 20744.969696969696
Lipetsk Oblast 14487.542699724518
Luhansk Oblast 8649.049586776859
Lviv Oblast 52839.32782369146
Magadan Oblast 5059.818181818182
Mari El Republic 7839.556473829201
Mordovia Republic 11340.366391184572
Moscow 627368.6418732782
Moscow Oblast 137623.00275482095
Murmansk Oblast 28471.953168044078
Mykolaiv Oblast 24183.790633608816
Nenets Autonomous Okrug 635.5840220385675
Nizhny Novgorod Oblast 60866.74931129476
North Ossetia - Alania Republic 10053.573002754822
Novgorod Oblast 14871.220385674931
Novosibirsk Oblast 23122.46831955923
Odessa Oblast 53333.99449035813
Omsk Oblast 24137.988980716254
Orel Oblast 18062.23691460055
Orenburg Oblast 23222.716253443527
Penza Oblast 22767.559228650138
Perm Krai 25967.355371900827
Poltava Oblast 26936.099173553717
Primorsky Krai 23603.52341597796
Pskov Oblast 17440.493112947657
Rivne Oblast 31970.37465564738
Rostov Oblast 44645.93112947659
Ryazan Oblast 15482.889807162534
Saint Petersburg 190272.14876033057
Sakha (Yakutiya) Republic 19787.922865013774
Sakhalin Oblast 12054.818181818182
Samara Oblast 28279.085399449035
Saratov Oblast 30333.413223140495

Sevastopol* 5947.292011019284
Smolensk Oblast 15254.236914600551
Stavropol Krai 28803.26997245179
Sumy Oblast 29078.24517906336
Sverdlovsk Oblast 49254.74104683196
Tambov Oblast 16042.479338842975
Tatarstan Republic 11799.239669421488
Ternopil Oblast 28320.823691460057
Tomsk Oblast 17702.89256198347
Tula Oblast 20323.20385674931
Tver Oblast 18949.005509641873
Tyumen Oblast 18957.80991735537
Tyva Republic 11052.798898071625
Udmurt Republic 15597.137741046832
Ulyanovsk Oblast 29187.793388429753
Vinnytsia Oblast 23914.628099173555
Vladimir Oblast 16234.137741046832
Volgograd Oblast 29864.666666666668
Vologda Oblast 19646.644628099173
Volyn Oblast 24986.093663911844
Voronezh Oblast 39917.89256198347
Yamalo-Nenets Autonomous Okrug 24465.807162534435
Yaroslavl Oblast 19425.793388429753
Zabaykalsky Krai 21067.09641873278
Zakarpattia Oblast 25596.57300275482
Zaporizhia Oblast 38177.56749311295
Zhytomyr Oblast 32341.67217630854
Blekinge 4318.651810584958
Dalarna 9395.183844011142
Gavleborg 13093.643454038996
Gotland 1584.933147632312
Halland 13581.384401114206
Jamtland Harjedalen 4349.571030640668
Jonkoping 16504.072423398327
Kalmar 6880.038997214485
Kronoberg 7745.0947075208915
Norrbotten 7798.08356545961
Orebro 11658.220055710306
Ostergotland 14339.144846796657
Skane 56004.81615598886
Sormland 8833.33704735376
Stockholm 97494.23119777159
Uppsala 15174.011142061281
Varmland 5899.387186629527
Vasterbotten 7761.676880222842
Vasternorrland 8921.047353760445
Vastmanland 10989.618384401114
Vastra Gotaland 69795.82729805014
Guaviare 1436.6067415730338
Andaman and Nicobar Islands 3942.892655367232
Andhra Pradesh 719605.9152542372
Arunachal Pradesh 12325.426553672316
Assam 176485.75141242938
Azad Jammu and Kashmir 7329.420903954802
Balochistan 16635.27683615819
Bihar 228676.3079096045
Chandigarh 17959.790960451977
Chhattisgarh 257649.38418079095
Dadar Nagar Haveli 22.0
Delhi 514056.13559322036
Gilgit-Baltistan 4017.901129943503
Goa 45430.03389830508
Gujarat 234034.29943502825
Haryana 221033.7627118644
Himachal Pradesh 43771.05084745763
Islamabad 34817.93502824859
Jammu and Kashmir 99196.82485875706
Jharkhand 104243.89265536724
Karnataka 797334.0677966102
Kerala 674952.5762711865
Khyber Pakhtunkhwa 58961.627118644064
Ladakh 7331.107344632768
Madhya Pradesh 221788.4661016949
Maharashtra 1924256.8587570621
Manipur 19982.29661016949
Meghalaya 10016.677966101695
Mizoram 3331.2966101694915
Nagaland 8978.853107344632
Odisha 264595.4576271186
Puducherry 32652.67231638418
Punjab 154781.4788135593
Rajasthan 261661.9745762712
Sikkim 4531.847457627118
Sindh 189694.93220338982
Tamil Nadu 713124.8700564972
Telangana 239978.61016949153
Tripura 25632.954802259886
Uttar Pradesh 530764.6016949152
Uttarakhand 80087.16101694915
West Bengal 435227.1892655367
Dadra and Nagar Haveli and Daman and Diu 3369.1983002832862
England 1887330.0793201134
Northern Ireland 60512.88101983003
Scotland 112163.91218130312
Wales 108867.20679886686
Drenthe 13496.523659305994
Flevoland 16226.97476340694
Friesland 16335.78548895899
Gelderland 78568.36277602524
Groningen 15672.574132492113
Limburg 42804.04651162791
Noord-Brabant 113151.8454258675
Noord-Holland 123118.57728706625
Overijssel 47000.66246056782
Utrecht 57025.1356466877
Zeeland 10898.91167192429
Zuid-Holland 176137.85488958991
Iwate 374.4778481012658
Lakshadweep 682.8071895424837
Antwerp 97286.64824120603
Brussels 97398.69849246231
East Flanders 83576.02512562813
Flemish Brabant 59502.88944723618
Hainaut 118346.05025125628
Liege 105955.05527638191
Luxembourg 22247.658291457286
Namur 42404.32663316583
Walloon Brabant 30130.497487437187
West Flanders 67834.8743718593
Repatriated Travellers 13.0
Wallis and Futuna 221.01360544217687
Anhui 964.2874493927126
Beijing 833.9534412955466
Chongqing 571.0546558704453
Fujian 427.165991902834
Gansu 159.82862903225808
Guangdong 1811.6923076923076
Guangxi 253.28542510121457
Guizhou 142.35425101214574
Hainan 167.18421052631578
Hebei 603.4828282828283
Heilongjiang 1027.6234817813765
Henan 1252.919028340081
Hong Kong 5376.386639676113
Hubei 65303.63232323233
Hunan 998.5506072874493
Inner Mongolia 264.46153846153845
Jiangsu 653.9736842105264
Jiangxi 909.1963562753036
Jilin 247.05668016194332
Liaoning 261.2712550607287
Macau 41.71052631578947
Ningxia 72.68016194331983
Qinghai 17.657894736842106
Shaanxi 406.7631578947368
Shandong 798.417004048583
Shanghai 1106.6336032388665
Shanxi 201.42307692307693
Sichuan 708.4291497975709
Taiwan 22.53061224489796
Tianjin 252.46963562753035
Tibet 0.9959016393442623
Washington 162655.5899122807
Xinjiang 614.8603238866397
Yunnan 213.89473684210526
Zhejiang 1255.5708502024293
nan nan
Unknown 1892.837496968227

C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Chicago 1.0
Illinois 580695.7770419426
California 1541809.7632743362
Arizona 368085.61504424777
Ontario 150388.55263157896
New South Wales 3777.756646216769
Victoria 12981.165644171779
British Columbia 35255.22131147541
Bavaria 4.25
Queensland 1077.148148148148
Chicago, IL 2.033333333333333
South Australia 474.9111570247934
Boston, MA 1.0
Los Angeles, CA 2.763157894736842
Orange, CA 1.0
Santa Clara, CA 3.742857142857143
Seattle, WA 1.4333333333333333
Tempe, AZ 1.0
San Benito, CA 2.0
Toronto, ON 7.0
London, ON 1.0
Madison, WI 1.0
Cruise Ship 61.0
Diamond Princess cruise ship 51.91125541125541
San Diego County, CA 2.107142857142857
San Antonio, TX 1.0
Ashland, NE 11.0
Travis, CA 5.0
From Diamond Princess 2.608695652173913
Lackland, TX 2.0
None 1.0
Humboldt County, CA 1.0
Sacramento County, CA 1.6666666666666667
Omaha, NE (From Diamond Princess) 1.2941176470588236
Travis, CA (From Diamond Princess) 0.5882352941176471
Lackland, TX (From Diamond Princess) 0.23529411764705882
Unassigned Location (From Diamond Princess) 43.2
 Montreal, QC 1.7
Western Australia 714.0767543859649
Portland, OR 1.3333333333333333
Snohomish County, WA 14.7
Providence, RI 1.8333333333333333
King County, WA 51.5
Cook County, IL 5.25
Tasmania 211.9625550660793
Grafton County, NH 2.375
Hillsborough, FL 1.875
New York City, NY 1.75
Placer County, CA 3.5
San Mateo, CA 1.875
Sarasota, FL 1.0
Sonoma County, CA 1.25
Umatilla, OR 1.0
Fulton County, GA 2.7142857142857144
Washington County, OR 3.857142857142857
 Norfolk County, MA 1.4
Berkeley, CA 1.0
Maricopa County, AZ 2.0
Wake County, NC 1.0
Westchester County, NY 40.857142857142854
Orange County, CA 3.1666666666666665
Northern Territory 61.73893805309734
Contra Costa County, CA 5.333333333333333
Bergen County, NJ 3.2
Harris County, TX 4.2
San Francisco County, CA 6.2
Clark County, NV 1.4
Fort Bend County, TX 3.4
Grant County, WA 1.0
Queens County, NY 1.0
Santa Rosa County, FL 1.0
Williamson County, TN 1.0
New York County, NY 14.5
Unassigned Location, WA 5.0
Montgomery County, MD 3.5
Suffolk County, MA 5.5
Denver County, CO 2.0
Summit County, CO 2.0
Calgary, Alberta 1.0
Chatham County, NC 1.0
Delaware County, PA 1.0
Douglas County, NE 1.5
Fayette County, KY 1.0
Floyd County, GA 1.5
Marion County, IN 1.0
Middlesex County, MA 4.0
Nassau County, NY 6.75
Norwell County, MA 1.0
Ramsey County, MN 1.0
Washoe County, NV 1.5
Wayne County, PA 1.0
Yolo County, CA 1.0
Santa Clara County, CA 36.0
Grand Princess Cruise Ship 21.0
Douglas County, CO 3.0
Providence County, RI 3.0
Alameda County, CA 2.0
Broward County, FL 2.3333333333333335
Fairfield County, CT 1.3333333333333333
Lee County, FL 2.0
Pinal County, AZ 2.0
Rockland County, NY 2.6666666666666665
Saratoga County, NY 2.0
Edmonton, Alberta 2.0
Charleston County, SC 1.0
Clark County, WA 1.0
Cobb County, GA 1.6666666666666667
Davis County, UT 1.0
El Paso County, CO 1.0
Honolulu County, HI 1.3333333333333333
Jackson County, OR  1.6666666666666667
Jefferson County, WA 1.0
Kershaw County, SC 2.0
Klamath County, OR 1.0
Madera County, CA 1.0
Pierce County, WA 3.0
Plymouth County, MA 1.0
Santa Cruz County, CA 1.0
Tulsa County, OK 1.0
Montgomery County, TX 0.0
Norfolk County, MA 6.0
Montgomery County, PA 4.5
Fairfax County, VA 2.0
Rockingham County, NH 1.5
Washington, D.C. 2.0
Berkshire County, MA 1.0
Davidson County, TN 1.0
Douglas County, OR 1.0
Fresno County, CA 1.0
Harford County, MD 1.0
Hendricks County, IN 1.5
Hudson County, NJ 1.0
Johnson County, KS 1.0
Kittitas County, WA 1.0
Manatee County, FL 1.5
Marion County, OR 1.0
Okaloosa County, FL 1.0
Polk County, GA 1.0
Riverside County, CA 1.0
Shelby County, TN 1.0
Spokane County, WA 1.0
St. Louis County, MO 1.0
Suffolk County, NY 1.0
Ulster County, NY 1.0
Unassigned Location, VT 1.0
Unknown Location, MA 1.0
Volusia County, FL 1.0
Alberta 64660.55033557047
Quebec 147036.9485458613
Johnson County, IA 3.0
Harrison County, KY 2.0
Bennington County, VT 1.0
Carver County, MN 1.0
Charlotte County, FL 1.0
Cherokee County, GA 1.0
Collin County, TX 1.0
Jefferson County, KY 1.0
Jefferson Parish, LA 1.0
Shasta County, CA 1.0
Spartanburg County, SC 1.0
New York 853445.9192825112
Massachusetts 283214.0605381166
Grand Princess 56.84467120181406
Georgia 478134.8609865471
Colorado 202071.34753363227
Florida 962935.4192825112
New Jersey 412702.2399103139
Oregon 72656.51121076233
Texas 1237757.591928251
Pennsylvania 433321.16367713007
Iowa 165930.1995515695
Maryland 196739.96412556054
North Carolina 390192.0134529148
South Carolina 236037.86322869954
Tennessee 361079.9484304933
Virginia 266133.2399103139
Indiana 302475.4955156951
Kentucky 175385.43721973093
District of Columbia 22147.14798206278
Nevada 139250.87443946188
New Hampshire 32482.529147982063
Minnesota 237699.38116591927
Nebraska 97485.34977578475
Ohio 426220.1860986547
Rhode Island 59868.15246636771
Wisconsin 291573.74887892377
Connecticut 135790.76457399104
Hawaii 14757.163677130045
Oklahoma 185332.9529147982
Utah 168368.39461883408
Kansas 133521.5201793722
Louisiana 220789.00448430493
Missouri 259427.34753363227
Vermont 6983.103139013453
Alaska 26574.573033707864
Arkansas 146450.97757847534
Delaware 41534.988789237665
Idaho 81848.54484304933
Maine 19714.81614349776
Michigan 342357.60313901346
Mississippi 143346.067264574
Montana 44937.08071748879
New Mexico 83253.40807174888
North Dakota 49021.16816143498
South Dakota 54522.5067264574
West Virginia 55564.63452914798
Wyoming 24077.681614349774
France 7116.727272727273
UK 456.0
Denmark 929.9090909090909
Faroe Islands 434.4561797752809
St Martin 685.6651685393258
Channel Islands 1816.1325842696629
New Brunswick 658.6449438202247
Saint Barthelemy 249.6314606741573
Gibraltar 1639.7550561797752
Australian Capital Territory 110.95936794582393
United Kingdom 2320.777777777778
French Polynesia 8531.135440180587
Manitoba 14247.205417607223
Saskatchewan 12454.539503386004
Alabama 238278.86681715577
Fench Guiana 5.0
Puerto Rico 54538.72624434389
Virgin Islands, U.S. 1.0
French Guiana 10019.990929705215
Guam 4023.421768707483
Newfoundland and Labrador 468.3582766439909
Prince Edward Island 78.33106575963718
Mayotte 7210.2154195011335
Netherlands 2375.6666666666665
Nova Scotia 1418.6842105263158
Guadeloupe 5787.356818181818
Curacao 3020.6204545454543
Virgin Islands 1430.6826484018266
Cayman Islands 279.9681818181818
Reunion 6947.175398633258
Aruba 4249.42694063927
United States Virgin Islands 3.25
US 1.0
Montserrat 13.826484018264841
Greenland 19.82608695652174
New Caledonia 45.4370709382151
Bermuda 564.62471395881
Sint Maarten 987.3050458715596
Isle of Man 568.1559633027523
Northwest Territories 24.05787037037037
American Samoa 0.0
External territories 0.0
Jervis Bay Territory 0.0
Martinique 3820.8571428571427
Northern Mariana Islands 87.36175115207374
Nunavut 159.44083526682135
Saint Helena, Ascension and Tristan da Cunha 2.046403712296984
Wuhan Evacuee 4.0
Recovered 0.0
Yukon 38.38139534883721
Anguilla 15.978971962616823
British Virgin Islands 78.75700934579439
Turks and Caicos Islands 925.5163551401869
Bonaire, Sint Eustatius and Saba 211.4822695035461
Falkland Islands (Islas Malvinas) 1.6666666666666667
Saint Pierre and Miquelon 13.064285714285715
Falkland Islands (Malvinas) 27.54066985645933
Abruzzo 28582.59842519685
Andalusia 234644.6062992126
Aragon 62532.19160104987
Asturias 22218.225721784776
Baden-Wurttemberg 184367.62992125985
Baleares 28481.808398950132
Basilicata 8597.343832020997
Bayern 250076.1338582677
Berlin 70768.65354330708
Brandenburg 37930.7532808399
Bremen 10435.795275590552
C. Valenciana 162145.58792650918
Calabria 20694.76902887139
Campania 146864.1338582677
Canarias 23381.325459317584
Cantabria 14052.07349081365
Castilla - La Mancha 90404.66666666667
Castilla y Leon 111355.27034120735
Catalonia 299798.15223097114
Ceuta 2460.170603674541
Emilia-Romagna 148519.74540682413
Extremadura 33575.40157480315
Friuli Venezia Giulia 40184.545931758534
Galicia 56364.24409448819
Hamburg 29572.286089238845
Hessen 103896.43307086614
La Rioja 15748.8031496063
Lazio 126090.2309711286
Liguria 46019.68503937008
Lombardia 368821.79527559056
Madrid 346874.43832020997
Marche 38008.02362204724
Mecklenburg-Vorpommern 12796.574803149606
Melilla 3706.706036745407
Molise 5255.645669291339
Murcia 51856.46194225722

Navarra 31944.8687664042
Niedersachsen 91728.40157480315
Nordrhein-Westfalen 301254.4251968504
P.A. Bolzano 27148.002624671917
P.A. Trento 19045.706036745407
Pais Vasco 88591.48031496063
Piemonte 150366.968503937
Puglia 79775.05511811023
Rheinland-Pfalz 55675.55905511811
Saarland 15745.514435695539
Sachsen 97595.41469816273
Sachsen-Anhalt 30195.929133858266
Sardegna 22094.85564304462
Schleswig-Holstein 22404.443569553805
Sicilia 77584.49606299213
Thuringen 39418.92650918635
Toscana 91390.88451443569
Umbria 22518.377952755905
Valle d'Aosta 5127.270341207349
Veneto 174958.93700787402
Acre 39726.962666666666
Aguascalientes 13476.352
Alagoas 99268.44266666667
Amapa 61328.354666666666
Amazonas 74322.19386834986
Antofagasta 25597.525333333335
Araucania 24996.002666666667
Arica y Parinacota 10346.128
Atacama 8510.882666666666
Aysen 1647.2853333333333
Bahia 444558.256
Baja California 28429.653333333332
Baja California Sur 15510.866666666667
Biobio 46650.536
Campeche 6357.664
Ceara 328999.8213333333
Chiapas 7657.533333333334
Chihuahua 25968.034666666666
Ciudad de Mexico 294911.792
Coahuila 38956.144
Colima 6483.026666666667
Coquimbo 14997.888
Distrito Federal 217872.936
Durango 18028.877333333334
Espirito Santo 212986.768
Goias 269545.2426666667
Guanajuato 67931.38133333334
Guerrero 23180.413333333334
Hidalgo 20486.565333333332
Jalisco 44526.130666666664
Los Lagos 27554.232
Los Rios 10987.074666666667
Magallanes 13148.104
Maranhao 178696.84266666666
Mato Grosso 168082.33066666668
Mato Grosso do Sul 113249.72533333334
Maule 28289.176
Metropolitana 316701.08266666665
Mexico 129708.88266666667
Michoacan 27252.613333333335
Minas Gerais 549761.2773333334
Morelos 13478.936
Nayarit 7106.858666666667
Nuble 11044.053333333333
Nuevo Leon 66034.968
OHiggins 22278.498666666666
Oaxaca 24978.448
Para 271461.312
Paraiba 155648.29866666667
Parana 389845.17066666664
Pernambuco 206443.24266666666
Piaui 124122.168
Puebla 44202.71466666667
Queretaro 28845.357333333333
Quintana Roo 14117.76
Rio Grande do Norte 109565.192
Rio Grande do Sul 399298.48
Rio de Janeiro 387928.128
Rondonia 97817.184
Roraima 58421.10666666667
San Luis Potosi 33732.792
Santa Catarina 403174.01866666664
Sao Paulo 1390157.1866666668
Sergipe 104950.832
Sinaloa 23374.109333333334
Sonora 41943.973333333335
Tabasco 38770.55733333333
Tamaulipas 34058.89333333333
Tarapaca 16743.597333333335
Tlaxcala 10519.656
Tocantins 81000.728
Valparaiso 38012.896
Veracruz 37863.632
Yucatan 22162.824
Zacatecas 15428.666666666666
Aichi 14612.708446866485
Akita 171.4822888283379
Ancash 30855.059945504086
Antioquia 218084.34877384195
Aomori 518.8937329700273
Apurimac 7668.550408719346
Arauca 3426.198910081744
Arequipa 43360.67302452316
Atlantico 99337.44959128066
Ayacucho 13788.196185286104
Bolivar 43936.46866485014
Boyaca 24405.31607629428
Cajamarca 24274.604904632153
Caldas 25877.367847411446
Callao 44879.651226158036
Capital District 408560.5994550409
Caqueta 10899.307901907358
Casanare 7040.0
Cauca 15789.185286103542
Cesar 27191.610354223434
Chiba 13289.25068119891
Choco 4826.743869209809
Cordoba 27140.637602179835
Cundinamarca 61015.8446866485
Cusco 24959.384196185285
Ehime 683.2697547683923
Fukui 388.9291553133515
Fukuoka 10299.569482288829
Fukushima 1176.9373297002726
Gifu 2396.41689373297
Gunma 2391.376021798365
Hiroshima 2646.3188010899185
Hokkaido 10778.809264305177
Huancavelica 7059.226158038147
Huanuco 17670.024523160762
Huila 27400.73841961853
Hyogo 10767.397820163487
Ibaraki 2996.5204359673025
Ica 29415.25068119891
Ishikawa 1187.931880108992
Junin 28540.449591280652
Kagawa 435.8038147138965
Kagoshima 999.9100817438692
Kanagawa 22592.485013623977
Kochi 471.9509536784741
Kumamoto 1843.6920980926432
Kyoto 5006.820163487739
La Guajira 12145.716621253407
La Libertad 35069.79564032698
Lambayeque 30416.58310626703
Lima 451674.14441416896
Loreto 23323.49863760218
Madre de Dios 8045.362397820163
Magdalena 24493.719346049045
Meta 25703.34877384196
Mie 1416.683923705722
Miyagi 2498.3351498637603
Miyazaki 988.0980926430518
Moquegua 13675.378746594006
Nagano 1361.6021798365123
Nagasaki 820.258855585831
Nara 2058.0899182561307
Narino 28888.17711171662
Niigata 726.0408719346049
Norte de Santander 29209.64577656676
Oita 721.392370572207
Okayama 1445.0435967302453
Okinawa 5213.959128065395
Osaka 29623.49863760218
Pasco 6449.91280653951
Piura 40341.801089918255
Port Quarantine 1509.8147138964578
Puno 16094.768392370572
Putumayo 5052.599455040872
Quindio 17474.681198910082
Risaralda 26292.34877384196
Saga 637.6594005449591
Saitama 15381.959128065395
San Andres y Providencia 1836.9891008174386
San Martin 22090.76021798365
Santander 53585.882833787466
Shiga 1416.9809264305177
Shimane 190.71117166212534
Shizuoka 2636.8610354223433
Sucre 15585.32970027248
Tacna 13168.994550408719
Tochigi 2017.1607629427792
Tokushima 352.02724795640324
Tokyo 61398.158038147136
Tolima 34084.71662125341
Tottori 127.1716621253406
Toyama 637.1307901907356
Tumbes 8725.119891008175
Ucayali 18424.811989100817
Valle del Cauca 116607.53133514986
Vaupes 821.841961852861
Wakayama 738.1198910081744
Yamagata 439.1008174386921
Yamaguchi 719.3024523160763
Yamanashi 534.8065395095368
Guainia 886.1284153005464
Vichada 823.7808219178082
Adygea Republic 8299.195592286502
Altai Krai 26786.093663911844
Altai Republic 9435.914600550965
Amur Oblast 11790.630853994491
Arkhangelsk Oblast 32844.12396694215
Astrakhan Oblast 16349.928374655647
Bashkortostan Republic 17741.581267217633
Belgorod Oblast 18797.438016528926
Bryansk Oblast 20082.67217630854
Buryatia Republic 19216.757575757576
Chechen Republic 6353.650137741047
Chelyabinsk Oblast 30494.790633608816
Cherkasy Oblast 28500.67217630854
Chernihiv Oblast 21292.112947658403
Chernivtsi Oblast 34696.2479338843
Chukotka Autonomous Okrug 418.0192837465565
Chuvashia Republic 14042.70523415978
Crimea Republic* 18704.71349862259
Dagestan Republic 19976.366391184572
Dnipropetrovsk Oblast 44686.65840220386
Donetsk Oblast 28973.878787878788
Ingushetia Republic 9458.669421487602
Irkutsk Oblast 34967.64462809917
Ivano-Frankivsk Oblast 37210.440771349866
Ivanovo Oblast 18173.2782369146
Jewish Autonomous Okrug 2569.99173553719
Kabardino-Balkarian Republic 13597.81267217631
Kaliningrad Oblast 14977.292011019284
Kalmykia Republic 11469.476584022039
Kaluga Oblast 18376.044077134986
Kamchatka Krai 8263.90909090909
Karachay-Cherkess Republic 11977.34435261708
Karelia Republic 20653.977961432505
Kemerovo Oblast 19186.396694214876
Khabarovsk Krai 27575.465564738293
Khakassia Republic 12171.43526170799
Khanty-Mansi Autonomous Okrug 34099.36914600551
Kharkiv Oblast 55480.55371900826
Kherson Oblast 12329.823691460055
Khmelnytskyi Oblast 31323.471074380166
Kiev 82471.82369146006
Kiev Oblast 45943.030303030304
Kirov Oblast 20889.936639118456
Kirovohrad Oblast 6728.32782369146
Komi Republic 22548.790633608816
Kostroma Oblast 10990.388429752065
Krasnodar Krai 24267.581267217633
Krasnoyarsk Krai 38404.87052341598
Kurgan Oblast 9900.250688705235
Kursk Oblast 18363.46005509642
Leningrad Oblast 20744.969696969696
Lipetsk Oblast 14487.542699724518
Luhansk Oblast 8649.049586776859
Lviv Oblast 52839.32782369146
Magadan Oblast 5059.818181818182
Mari El Republic 7839.556473829201
Mordovia Republic 11340.366391184572
Moscow 627368.6418732782
Moscow Oblast 137623.00275482095
Murmansk Oblast 28471.953168044078
Mykolaiv Oblast 24183.790633608816
Nenets Autonomous Okrug 635.5840220385675
Nizhny Novgorod Oblast 60866.74931129476
North Ossetia - Alania Republic 10053.573002754822
Novgorod Oblast 14871.220385674931
Novosibirsk Oblast 23122.46831955923
Odessa Oblast 53333.99449035813
Omsk Oblast 24137.988980716254
Orel Oblast 18062.23691460055
Orenburg Oblast 23222.716253443527
Penza Oblast 22767.559228650138
Perm Krai 25967.355371900827
Poltava Oblast 26936.099173553717
Primorsky Krai 23603.52341597796
Pskov Oblast 17440.493112947657
Rivne Oblast 31970.37465564738
Rostov Oblast 44645.93112947659
Ryazan Oblast 15482.889807162534
Saint Petersburg 190272.14876033057
Sakha (Yakutiya) Republic 19787.922865013774
Sakhalin Oblast 12054.818181818182
Samara Oblast 28279.085399449035
Saratov Oblast 30333.413223140495
Sevastopol* 5947.292011019284
Smolensk Oblast 15254.236914600551

Stavropol Krai 28803.26997245179
Sumy Oblast 29078.24517906336
Sverdlovsk Oblast 49254.74104683196
Tambov Oblast 16042.479338842975
Tatarstan Republic 11799.239669421488
Ternopil Oblast 28320.823691460057
Tomsk Oblast 17702.89256198347
Tula Oblast 20323.20385674931
Tver Oblast 18949.005509641873
Tyumen Oblast 18957.80991735537
Tyva Republic 11052.798898071625
Udmurt Republic 15597.137741046832
Ulyanovsk Oblast 29187.793388429753
Vinnytsia Oblast 23914.628099173555
Vladimir Oblast 16234.137741046832
Volgograd Oblast 29864.666666666668
Vologda Oblast 19646.644628099173
Volyn Oblast 24986.093663911844
Voronezh Oblast 39917.89256198347
Yamalo-Nenets Autonomous Okrug 24465.807162534435
Yaroslavl Oblast 19425.793388429753
Zabaykalsky Krai 21067.09641873278
Zakarpattia Oblast 25596.57300275482
Zaporizhia Oblast 38177.56749311295
Zhytomyr Oblast 32341.67217630854
Blekinge 4318.651810584958
Dalarna 9395.183844011142
Gavleborg 13093.643454038996
Gotland 1584.933147632312
Halland 13581.384401114206
Jamtland Harjedalen 4349.571030640668
Jonkoping 16504.072423398327
Kalmar 6880.038997214485
Kronoberg 7745.0947075208915
Norrbotten 7798.08356545961
Orebro 11658.220055710306
Ostergotland 14339.144846796657
Skane 56004.81615598886
Sormland 8833.33704735376
Stockholm 97494.23119777159
Uppsala 15174.011142061281
Varmland 5899.387186629527
Vasterbotten 7761.676880222842
Vasternorrland 8921.047353760445
Vastmanland 10989.618384401114
Vastra Gotaland 69795.82729805014
Guaviare 1436.6067415730338
Andaman and Nicobar Islands 3942.892655367232
Andhra Pradesh 719605.9152542372
Arunachal Pradesh 12325.426553672316
Assam 176485.75141242938
Azad Jammu and Kashmir 7329.420903954802
Balochistan 16635.27683615819
Bihar 228676.3079096045
Chandigarh 17959.790960451977
Chhattisgarh 257649.38418079095
Dadar Nagar Haveli 22.0
Delhi 514056.13559322036
Gilgit-Baltistan 4017.901129943503
Goa 45430.03389830508
Gujarat 234034.29943502825
Haryana 221033.7627118644
Himachal Pradesh 43771.05084745763
Islamabad 34817.93502824859
Jammu and Kashmir 99196.82485875706
Jharkhand 104243.89265536724
Karnataka 797334.0677966102
Kerala 674952.5762711865
Khyber Pakhtunkhwa 58961.627118644064
Ladakh 7331.107344632768
Madhya Pradesh 221788.4661016949
Maharashtra 1924256.8587570621
Manipur 19982.29661016949
Meghalaya 10016.677966101695
Mizoram 3331.2966101694915
Nagaland 8978.853107344632
Odisha 264595.4576271186
Puducherry 32652.67231638418
Punjab 154781.4788135593
Rajasthan 261661.9745762712
Sikkim 4531.847457627118
Sindh 189694.93220338982
Tamil Nadu 713124.8700564972
Telangana 239978.61016949153
Tripura 25632.954802259886
Uttar Pradesh 530764.6016949152
Uttarakhand 80087.16101694915
West Bengal 435227.1892655367
Dadra and Nagar Haveli and Daman and Diu 3369.1983002832862
England 1887330.0793201134
Northern Ireland 60512.88101983003
Scotland 112163.91218130312
Wales 108867.20679886686
Drenthe 13496.523659305994
Flevoland 16226.97476340694
Friesland 16335.78548895899
Gelderland 78568.36277602524
Groningen 15672.574132492113
Limburg 42804.04651162791
Noord-Brabant 113151.8454258675
Noord-Holland 123118.57728706625
Overijssel 47000.66246056782
Utrecht 57025.1356466877
Zeeland 10898.91167192429
Zuid-Holland 176137.85488958991
Iwate 374.4778481012658
Lakshadweep 682.8071895424837
Antwerp 97286.64824120603
Brussels 97398.69849246231
East Flanders 83576.02512562813
Flemish Brabant 59502.88944723618
Hainaut 118346.05025125628
Liege 105955.05527638191
Luxembourg 22247.658291457286
Namur 42404.32663316583
Walloon Brabant 30130.497487437187
West Flanders 67834.8743718593
Repatriated Travellers 13.0
Wallis and Futuna 221.01360544217687
Anhui 964.2874493927126
Beijing 833.9534412955466
Chongqing 571.0546558704453
Fujian 427.165991902834
Gansu 159.82862903225808
Guangdong 1811.6923076923076
Guangxi 253.28542510121457
Guizhou 142.35425101214574
Hainan 167.18421052631578
Hebei 603.4828282828283
Heilongjiang 1027.6234817813765
Henan 1252.919028340081
Hong Kong 5376.386639676113
Hubei 65303.63232323233
Hunan 998.5506072874493
Inner Mongolia 264.46153846153845
Jiangsu 653.9736842105264
Jiangxi 909.1963562753036
Jilin 247.05668016194332
Liaoning 261.2712550607287
Macau 41.71052631578947
Ningxia 72.68016194331983
Qinghai 17.657894736842106
Shaanxi 406.7631578947368
Shandong 798.417004048583
Shanghai 1106.6336032388665
Shanxi 201.42307692307693
Sichuan 708.4291497975709
Taiwan 22.53061224489796
Tianjin 252.46963562753035
Tibet 0.9959016393442623
Washington 162655.5899122807
Xinjiang 614.8603238866397
Yunnan 213.89473684210526
Zhejiang 1255.5708502024293
nan nan
Unknown 1892.837496968227
Chicago 1.0

C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Illinois 580695.7770419426
California 1541809.7632743362
Arizona 368085.61504424777
Ontario 150388.55263157896
New South Wales 3777.756646216769
Victoria 12981.165644171779
British Columbia 35255.22131147541
Bavaria 4.25
Queensland 1077.148148148148
Chicago, IL 2.033333333333333
South Australia 474.9111570247934
Boston, MA 1.0
Los Angeles, CA 2.763157894736842
Orange, CA 1.0
Santa Clara, CA 3.742857142857143
Seattle, WA 1.4333333333333333
Tempe, AZ 1.0
San Benito, CA 2.0
Toronto, ON 7.0
London, ON 1.0
Madison, WI 1.0
Cruise Ship 61.0
Diamond Princess cruise ship 51.91125541125541
San Diego County, CA 2.107142857142857
San Antonio, TX 1.0
Ashland, NE 11.0
Travis, CA 5.0
From Diamond Princess 2.608695652173913
Lackland, TX 2.0
None 1.0
Humboldt County, CA 1.0
Sacramento County, CA 1.6666666666666667
Omaha, NE (From Diamond Princess) 1.2941176470588236
Travis, CA (From Diamond Princess) 0.5882352941176471
Lackland, TX (From Diamond Princess) 0.23529411764705882
Unassigned Location (From Diamond Princess) 43.2
 Montreal, QC 1.7
Western Australia 714.0767543859649
Portland, OR 1.3333333333333333
Snohomish County, WA 14.7
Providence, RI 1.8333333333333333
King County, WA 51.5
Cook County, IL 5.25
Tasmania 211.9625550660793
Grafton County, NH 2.375
Hillsborough, FL 1.875
New York City, NY 1.75
Placer County, CA 3.5
San Mateo, CA 1.875
Sarasota, FL 1.0
Sonoma County, CA 1.25
Umatilla, OR 1.0
Fulton County, GA 2.7142857142857144
Washington County, OR 3.857142857142857
 Norfolk County, MA 1.4
Berkeley, CA 1.0
Maricopa County, AZ 2.0
Wake County, NC 1.0
Westchester County, NY 40.857142857142854
Orange County, CA 3.1666666666666665
Northern Territory 61.73893805309734
Contra Costa County, CA 5.333333333333333
Bergen County, NJ 3.2
Harris County, TX 4.2
San Francisco County, CA 6.2
Clark County, NV 1.4
Fort Bend County, TX 3.4
Grant County, WA 1.0
Queens County, NY 1.0
Santa Rosa County, FL 1.0
Williamson County, TN 1.0
New York County, NY 14.5
Unassigned Location, WA 5.0
Montgomery County, MD 3.5
Suffolk County, MA 5.5
Denver County, CO 2.0
Summit County, CO 2.0
Calgary, Alberta 1.0
Chatham County, NC 1.0
Delaware County, PA 1.0
Douglas County, NE 1.5
Fayette County, KY 1.0
Floyd County, GA 1.5
Marion County, IN 1.0
Middlesex County, MA 4.0
Nassau County, NY 6.75
Norwell County, MA 1.0
Ramsey County, MN 1.0
Washoe County, NV 1.5
Wayne County, PA 1.0
Yolo County, CA 1.0
Santa Clara County, CA 36.0
Grand Princess Cruise Ship 21.0
Douglas County, CO 3.0
Providence County, RI 3.0
Alameda County, CA 2.0
Broward County, FL 2.3333333333333335
Fairfield County, CT 1.3333333333333333
Lee County, FL 2.0
Pinal County, AZ 2.0
Rockland County, NY 2.6666666666666665
Saratoga County, NY 2.0
Edmonton, Alberta 2.0
Charleston County, SC 1.0
Clark County, WA 1.0
Cobb County, GA 1.6666666666666667
Davis County, UT 1.0
El Paso County, CO 1.0
Honolulu County, HI 1.3333333333333333
Jackson County, OR  1.6666666666666667
Jefferson County, WA 1.0
Kershaw County, SC 2.0
Klamath County, OR 1.0
Madera County, CA 1.0
Pierce County, WA 3.0
Plymouth County, MA 1.0
Santa Cruz County, CA 1.0
Tulsa County, OK 1.0
Montgomery County, TX 0.0
Norfolk County, MA 6.0
Montgomery County, PA 4.5
Fairfax County, VA 2.0
Rockingham County, NH 1.5
Washington, D.C. 2.0
Berkshire County, MA 1.0
Davidson County, TN 1.0
Douglas County, OR 1.0
Fresno County, CA 1.0
Harford County, MD 1.0
Hendricks County, IN 1.5
Hudson County, NJ 1.0
Johnson County, KS 1.0
Kittitas County, WA 1.0
Manatee County, FL 1.5
Marion County, OR 1.0
Okaloosa County, FL 1.0
Polk County, GA 1.0
Riverside County, CA 1.0
Shelby County, TN 1.0
Spokane County, WA 1.0
St. Louis County, MO 1.0
Suffolk County, NY 1.0
Ulster County, NY 1.0
Unassigned Location, VT 1.0
Unknown Location, MA 1.0
Volusia County, FL 1.0
Alberta 64660.55033557047
Quebec 147036.9485458613
Johnson County, IA 3.0
Harrison County, KY 2.0
Bennington County, VT 1.0
Carver County, MN 1.0
Charlotte County, FL 1.0
Cherokee County, GA 1.0
Collin County, TX 1.0
Jefferson County, KY 1.0
Jefferson Parish, LA 1.0
Shasta County, CA 1.0
Spartanburg County, SC 1.0
New York 853445.9192825112
Massachusetts 283214.0605381166
Grand Princess 56.84467120181406
Georgia 478134.8609865471
Colorado 202071.34753363227
Florida 962935.4192825112
New Jersey 412702.2399103139
Oregon 72656.51121076233
Texas 1237757.591928251
Pennsylvania 433321.16367713007
Iowa 165930.1995515695
Maryland 196739.96412556054
North Carolina 390192.0134529148
South Carolina 236037.86322869954
Tennessee 361079.9484304933
Virginia 266133.2399103139
Indiana 302475.4955156951
Kentucky 175385.43721973093
District of Columbia 22147.14798206278
Nevada 139250.87443946188
New Hampshire 32482.529147982063
Minnesota 237699.38116591927
Nebraska 97485.34977578475
Ohio 426220.1860986547
Rhode Island 59868.15246636771
Wisconsin 291573.74887892377
Connecticut 135790.76457399104
Hawaii 14757.163677130045
Oklahoma 185332.9529147982
Utah 168368.39461883408
Kansas 133521.5201793722
Louisiana 220789.00448430493
Missouri 259427.34753363227
Vermont 6983.103139013453
Alaska 26574.573033707864
Arkansas 146450.97757847534
Delaware 41534.988789237665
Idaho 81848.54484304933
Maine 19714.81614349776
Michigan 342357.60313901346
Mississippi 143346.067264574
Montana 44937.08071748879
New Mexico 83253.40807174888
North Dakota 49021.16816143498
South Dakota 54522.5067264574
West Virginia 55564.63452914798
Wyoming 24077.681614349774
France 7116.727272727273
UK 456.0
Denmark 929.9090909090909
Faroe Islands 434.4561797752809
St Martin 685.6651685393258
Channel Islands 1816.1325842696629
New Brunswick 658.6449438202247
Saint Barthelemy 249.6314606741573
Gibraltar 1639.7550561797752
Australian Capital Territory 110.95936794582393
United Kingdom 2320.777777777778
French Polynesia 8531.135440180587
Manitoba 14247.205417607223
Saskatchewan 12454.539503386004
Alabama 238278.86681715577
Fench Guiana 5.0
Puerto Rico 54538.72624434389
Virgin Islands, U.S. 1.0
French Guiana 10019.990929705215
Guam 4023.421768707483
Newfoundland and Labrador 468.3582766439909
Prince Edward Island 78.33106575963718
Mayotte 7210.2154195011335
Netherlands 2375.6666666666665
Nova Scotia 1418.6842105263158
Guadeloupe 5787.356818181818
Curacao 3020.6204545454543
Virgin Islands 1430.6826484018266
Cayman Islands 279.9681818181818
Reunion 6947.175398633258
Aruba 4249.42694063927
United States Virgin Islands 3.25
US 1.0
Montserrat 13.826484018264841
Greenland 19.82608695652174
New Caledonia 45.4370709382151
Bermuda 564.62471395881
Sint Maarten 987.3050458715596
Isle of Man 568.1559633027523
Northwest Territories 24.05787037037037
American Samoa 0.0
External territories 0.0
Jervis Bay Territory 0.0
Martinique 3820.8571428571427
Northern Mariana Islands 87.36175115207374
Nunavut 159.44083526682135
Saint Helena, Ascension and Tristan da Cunha 2.046403712296984
Wuhan Evacuee 4.0
Recovered 0.0
Yukon 38.38139534883721
Anguilla 15.978971962616823
British Virgin Islands 78.75700934579439
Turks and Caicos Islands 925.5163551401869
Bonaire, Sint Eustatius and Saba 211.4822695035461
Falkland Islands (Islas Malvinas) 1.6666666666666667
Saint Pierre and Miquelon 13.064285714285715
Falkland Islands (Malvinas) 27.54066985645933
Abruzzo 28582.59842519685
Andalusia 234644.6062992126
Aragon 62532.19160104987
Asturias 22218.225721784776
Baden-Wurttemberg 184367.62992125985
Baleares 28481.808398950132
Basilicata 8597.343832020997
Bayern 250076.1338582677
Berlin 70768.65354330708
Brandenburg 37930.7532808399
Bremen 10435.795275590552
C. Valenciana 162145.58792650918
Calabria 20694.76902887139
Campania 146864.1338582677
Canarias 23381.325459317584
Cantabria 14052.07349081365
Castilla - La Mancha 90404.66666666667
Castilla y Leon 111355.27034120735
Catalonia 299798.15223097114
Ceuta 2460.170603674541
Emilia-Romagna 148519.74540682413
Extremadura 33575.40157480315
Friuli Venezia Giulia 40184.545931758534
Galicia 56364.24409448819
Hamburg 29572.286089238845
Hessen 103896.43307086614
La Rioja 15748.8031496063
Lazio 126090.2309711286
Liguria 46019.68503937008
Lombardia 368821.79527559056
Madrid 346874.43832020997
Marche 38008.02362204724
Mecklenburg-Vorpommern 12796.574803149606
Melilla 3706.706036745407
Molise 5255.645669291339

Murcia 51856.46194225722
Navarra 31944.8687664042
Niedersachsen 91728.40157480315
Nordrhein-Westfalen 301254.4251968504
P.A. Bolzano 27148.002624671917
P.A. Trento 19045.706036745407
Pais Vasco 88591.48031496063
Piemonte 150366.968503937
Puglia 79775.05511811023
Rheinland-Pfalz 55675.55905511811
Saarland 15745.514435695539
Sachsen 97595.41469816273
Sachsen-Anhalt 30195.929133858266
Sardegna 22094.85564304462
Schleswig-Holstein 22404.443569553805
Sicilia 77584.49606299213
Thuringen 39418.92650918635
Toscana 91390.88451443569
Umbria 22518.377952755905
Valle d'Aosta 5127.270341207349
Veneto 174958.93700787402
Acre 39726.962666666666
Aguascalientes 13476.352
Alagoas 99268.44266666667
Amapa 61328.354666666666
Amazonas 74322.19386834986
Antofagasta 25597.525333333335
Araucania 24996.002666666667
Arica y Parinacota 10346.128
Atacama 8510.882666666666
Aysen 1647.2853333333333
Bahia 444558.256
Baja California 28429.653333333332
Baja California Sur 15510.866666666667
Biobio 46650.536
Campeche 6357.664
Ceara 328999.8213333333
Chiapas 7657.533333333334
Chihuahua 25968.034666666666
Ciudad de Mexico 294911.792
Coahuila 38956.144
Colima 6483.026666666667
Coquimbo 14997.888
Distrito Federal 217872.936
Durango 18028.877333333334
Espirito Santo 212986.768
Goias 269545.2426666667
Guanajuato 67931.38133333334
Guerrero 23180.413333333334
Hidalgo 20486.565333333332
Jalisco 44526.130666666664
Los Lagos 27554.232
Los Rios 10987.074666666667
Magallanes 13148.104
Maranhao 178696.84266666666
Mato Grosso 168082.33066666668
Mato Grosso do Sul 113249.72533333334
Maule 28289.176
Metropolitana 316701.08266666665
Mexico 129708.88266666667
Michoacan 27252.613333333335
Minas Gerais 549761.2773333334
Morelos 13478.936
Nayarit 7106.858666666667
Nuble 11044.053333333333
Nuevo Leon 66034.968
OHiggins 22278.498666666666
Oaxaca 24978.448
Para 271461.312
Paraiba 155648.29866666667
Parana 389845.17066666664
Pernambuco 206443.24266666666
Piaui 124122.168
Puebla 44202.71466666667
Queretaro 28845.357333333333
Quintana Roo 14117.76
Rio Grande do Norte 109565.192
Rio Grande do Sul 399298.48
Rio de Janeiro 387928.128
Rondonia 97817.184
Roraima 58421.10666666667
San Luis Potosi 33732.792
Santa Catarina 403174.01866666664
Sao Paulo 1390157.1866666668
Sergipe 104950.832
Sinaloa 23374.109333333334
Sonora 41943.973333333335
Tabasco 38770.55733333333
Tamaulipas 34058.89333333333
Tarapaca 16743.597333333335
Tlaxcala 10519.656
Tocantins 81000.728
Valparaiso 38012.896
Veracruz 37863.632
Yucatan 22162.824
Zacatecas 15428.666666666666
Aichi 14612.708446866485
Akita 171.4822888283379
Ancash 30855.059945504086
Antioquia 218084.34877384195
Aomori 518.8937329700273
Apurimac 7668.550408719346
Arauca 3426.198910081744
Arequipa 43360.67302452316
Atlantico 99337.44959128066
Ayacucho 13788.196185286104
Bolivar 43936.46866485014
Boyaca 24405.31607629428
Cajamarca 24274.604904632153
Caldas 25877.367847411446
Callao 44879.651226158036
Capital District 408560.5994550409
Caqueta 10899.307901907358
Casanare 7040.0
Cauca 15789.185286103542
Cesar 27191.610354223434
Chiba 13289.25068119891
Choco 4826.743869209809
Cordoba 27140.637602179835
Cundinamarca 61015.8446866485
Cusco 24959.384196185285
Ehime 683.2697547683923
Fukui 388.9291553133515
Fukuoka 10299.569482288829
Fukushima 1176.9373297002726
Gifu 2396.41689373297
Gunma 2391.376021798365
Hiroshima 2646.3188010899185
Hokkaido 10778.809264305177
Huancavelica 7059.226158038147
Huanuco 17670.024523160762
Huila 27400.73841961853
Hyogo 10767.397820163487
Ibaraki 2996.5204359673025
Ica 29415.25068119891
Ishikawa 1187.931880108992
Junin 28540.449591280652
Kagawa 435.8038147138965
Kagoshima 999.9100817438692
Kanagawa 22592.485013623977
Kochi 471.9509536784741
Kumamoto 1843.6920980926432
Kyoto 5006.820163487739
La Guajira 12145.716621253407
La Libertad 35069.79564032698
Lambayeque 30416.58310626703
Lima 451674.14441416896
Loreto 23323.49863760218
Madre de Dios 8045.362397820163
Magdalena 24493.719346049045
Meta 25703.34877384196
Mie 1416.683923705722
Miyagi 2498.3351498637603
Miyazaki 988.0980926430518
Moquegua 13675.378746594006
Nagano 1361.6021798365123
Nagasaki 820.258855585831
Nara 2058.0899182561307
Narino 28888.17711171662
Niigata 726.0408719346049
Norte de Santander 29209.64577656676
Oita 721.392370572207
Okayama 1445.0435967302453
Okinawa 5213.959128065395
Osaka 29623.49863760218
Pasco 6449.91280653951
Piura 40341.801089918255
Port Quarantine 1509.8147138964578
Puno 16094.768392370572
Putumayo 5052.599455040872
Quindio 17474.681198910082
Risaralda 26292.34877384196
Saga 637.6594005449591
Saitama 15381.959128065395
San Andres y Providencia 1836.9891008174386
San Martin 22090.76021798365
Santander 53585.882833787466
Shiga 1416.9809264305177
Shimane 190.71117166212534
Shizuoka 2636.8610354223433
Sucre 15585.32970027248
Tacna 13168.994550408719
Tochigi 2017.1607629427792
Tokushima 352.02724795640324
Tokyo 61398.158038147136
Tolima 34084.71662125341
Tottori 127.1716621253406
Toyama 637.1307901907356
Tumbes 8725.119891008175
Ucayali 18424.811989100817
Valle del Cauca 116607.53133514986
Vaupes 821.841961852861
Wakayama 738.1198910081744
Yamagata 439.1008174386921
Yamaguchi 719.3024523160763
Yamanashi 534.8065395095368
Guainia 886.1284153005464
Vichada 823.7808219178082
Adygea Republic 8299.195592286502
Altai Krai 26786.093663911844
Altai Republic 9435.914600550965
Amur Oblast 11790.630853994491
Arkhangelsk Oblast 32844.12396694215
Astrakhan Oblast 16349.928374655647
Bashkortostan Republic 17741.581267217633
Belgorod Oblast 18797.438016528926
Bryansk Oblast 20082.67217630854
Buryatia Republic 19216.757575757576
Chechen Republic 6353.650137741047
Chelyabinsk Oblast 30494.790633608816
Cherkasy Oblast 28500.67217630854
Chernihiv Oblast 21292.112947658403
Chernivtsi Oblast 34696.2479338843
Chukotka Autonomous Okrug 418.0192837465565
Chuvashia Republic 14042.70523415978
Crimea Republic* 18704.71349862259
Dagestan Republic 19976.366391184572
Dnipropetrovsk Oblast 44686.65840220386
Donetsk Oblast 28973.878787878788
Ingushetia Republic 9458.669421487602
Irkutsk Oblast 34967.64462809917
Ivano-Frankivsk Oblast 37210.440771349866
Ivanovo Oblast 18173.2782369146
Jewish Autonomous Okrug 2569.99173553719
Kabardino-Balkarian Republic 13597.81267217631
Kaliningrad Oblast 14977.292011019284
Kalmykia Republic 11469.476584022039
Kaluga Oblast 18376.044077134986
Kamchatka Krai 8263.90909090909
Karachay-Cherkess Republic 11977.34435261708
Karelia Republic 20653.977961432505
Kemerovo Oblast 19186.396694214876
Khabarovsk Krai 27575.465564738293
Khakassia Republic 12171.43526170799
Khanty-Mansi Autonomous Okrug 34099.36914600551
Kharkiv Oblast 55480.55371900826
Kherson Oblast 12329.823691460055
Khmelnytskyi Oblast 31323.471074380166
Kiev 82471.82369146006
Kiev Oblast 45943.030303030304
Kirov Oblast 20889.936639118456
Kirovohrad Oblast 6728.32782369146
Komi Republic 22548.790633608816
Kostroma Oblast 10990.388429752065
Krasnodar Krai 24267.581267217633
Krasnoyarsk Krai 38404.87052341598
Kurgan Oblast 9900.250688705235
Kursk Oblast 18363.46005509642
Leningrad Oblast 20744.969696969696
Lipetsk Oblast 14487.542699724518
Luhansk Oblast 8649.049586776859
Lviv Oblast 52839.32782369146
Magadan Oblast 5059.818181818182
Mari El Republic 7839.556473829201
Mordovia Republic 11340.366391184572
Moscow 627368.6418732782
Moscow Oblast 137623.00275482095
Murmansk Oblast 28471.953168044078
Mykolaiv Oblast 24183.790633608816
Nenets Autonomous Okrug 635.5840220385675
Nizhny Novgorod Oblast 60866.74931129476
North Ossetia - Alania Republic 10053.573002754822
Novgorod Oblast 14871.220385674931
Novosibirsk Oblast 23122.46831955923
Odessa Oblast 53333.99449035813
Omsk Oblast 24137.988980716254
Orel Oblast 18062.23691460055
Orenburg Oblast 23222.716253443527
Penza Oblast 22767.559228650138
Perm Krai 25967.355371900827
Poltava Oblast 26936.099173553717
Primorsky Krai 23603.52341597796
Pskov Oblast 17440.493112947657
Rivne Oblast 31970.37465564738
Rostov Oblast 44645.93112947659
Ryazan Oblast 15482.889807162534
Saint Petersburg 190272.14876033057
Sakha (Yakutiya) Republic 19787.922865013774
Sakhalin Oblast 12054.818181818182
Samara Oblast 28279.085399449035
Saratov Oblast 30333.413223140495
Sevastopol* 5947.292011019284

Smolensk Oblast 15254.236914600551
Stavropol Krai 28803.26997245179
Sumy Oblast 29078.24517906336
Sverdlovsk Oblast 49254.74104683196
Tambov Oblast 16042.479338842975
Tatarstan Republic 11799.239669421488
Ternopil Oblast 28320.823691460057
Tomsk Oblast 17702.89256198347
Tula Oblast 20323.20385674931
Tver Oblast 18949.005509641873
Tyumen Oblast 18957.80991735537
Tyva Republic 11052.798898071625
Udmurt Republic 15597.137741046832
Ulyanovsk Oblast 29187.793388429753
Vinnytsia Oblast 23914.628099173555
Vladimir Oblast 16234.137741046832
Volgograd Oblast 29864.666666666668
Vologda Oblast 19646.644628099173
Volyn Oblast 24986.093663911844
Voronezh Oblast 39917.89256198347
Yamalo-Nenets Autonomous Okrug 24465.807162534435
Yaroslavl Oblast 19425.793388429753
Zabaykalsky Krai 21067.09641873278
Zakarpattia Oblast 25596.57300275482
Zaporizhia Oblast 38177.56749311295
Zhytomyr Oblast 32341.67217630854
Blekinge 4318.651810584958
Dalarna 9395.183844011142
Gavleborg 13093.643454038996
Gotland 1584.933147632312
Halland 13581.384401114206
Jamtland Harjedalen 4349.571030640668
Jonkoping 16504.072423398327
Kalmar 6880.038997214485
Kronoberg 7745.0947075208915
Norrbotten 7798.08356545961
Orebro 11658.220055710306
Ostergotland 14339.144846796657
Skane 56004.81615598886
Sormland 8833.33704735376
Stockholm 97494.23119777159
Uppsala 15174.011142061281
Varmland 5899.387186629527
Vasterbotten 7761.676880222842
Vasternorrland 8921.047353760445
Vastmanland 10989.618384401114
Vastra Gotaland 69795.82729805014
Guaviare 1436.6067415730338
Andaman and Nicobar Islands 3942.892655367232
Andhra Pradesh 719605.9152542372
Arunachal Pradesh 12325.426553672316
Assam 176485.75141242938
Azad Jammu and Kashmir 7329.420903954802
Balochistan 16635.27683615819
Bihar 228676.3079096045
Chandigarh 17959.790960451977
Chhattisgarh 257649.38418079095
Dadar Nagar Haveli 22.0
Delhi 514056.13559322036
Gilgit-Baltistan 4017.901129943503
Goa 45430.03389830508
Gujarat 234034.29943502825
Haryana 221033.7627118644
Himachal Pradesh 43771.05084745763
Islamabad 34817.93502824859
Jammu and Kashmir 99196.82485875706
Jharkhand 104243.89265536724
Karnataka 797334.0677966102
Kerala 674952.5762711865
Khyber Pakhtunkhwa 58961.627118644064
Ladakh 7331.107344632768
Madhya Pradesh 221788.4661016949
Maharashtra 1924256.8587570621
Manipur 19982.29661016949
Meghalaya 10016.677966101695
Mizoram 3331.2966101694915
Nagaland 8978.853107344632
Odisha 264595.4576271186
Puducherry 32652.67231638418
Punjab 154781.4788135593
Rajasthan 261661.9745762712
Sikkim 4531.847457627118
Sindh 189694.93220338982
Tamil Nadu 713124.8700564972
Telangana 239978.61016949153
Tripura 25632.954802259886
Uttar Pradesh 530764.6016949152
Uttarakhand 80087.16101694915
West Bengal 435227.1892655367
Dadra and Nagar Haveli and Daman and Diu 3369.1983002832862
England 1887330.0793201134
Northern Ireland 60512.88101983003
Scotland 112163.91218130312
Wales 108867.20679886686
Drenthe 13496.523659305994
Flevoland 16226.97476340694
Friesland 16335.78548895899
Gelderland 78568.36277602524
Groningen 15672.574132492113
Limburg 42804.04651162791
Noord-Brabant 113151.8454258675
Noord-Holland 123118.57728706625
Overijssel 47000.66246056782
Utrecht 57025.1356466877
Zeeland 10898.91167192429
Zuid-Holland 176137.85488958991
Iwate 374.4778481012658
Lakshadweep 682.8071895424837
Antwerp 97286.64824120603
Brussels 97398.69849246231
East Flanders 83576.02512562813
Flemish Brabant 59502.88944723618
Hainaut 118346.05025125628
Liege 105955.05527638191
Luxembourg 22247.658291457286
Namur 42404.32663316583
Walloon Brabant 30130.497487437187
West Flanders 67834.8743718593
Repatriated Travellers 13.0
Wallis and Futuna 221.01360544217687
Anhui 964.2874493927126
Beijing 833.9534412955466
Chongqing 571.0546558704453
Fujian 427.165991902834
Gansu 159.82862903225808
Guangdong 1811.6923076923076
Guangxi 253.28542510121457
Guizhou 142.35425101214574
Hainan 167.18421052631578
Hebei 603.4828282828283
Heilongjiang 1027.6234817813765
Henan 1252.919028340081
Hong Kong 5376.386639676113
Hubei 65303.63232323233
Hunan 998.5506072874493
Inner Mongolia 264.46153846153845
Jiangsu 653.9736842105264
Jiangxi 909.1963562753036
Jilin 247.05668016194332
Liaoning 261.2712550607287
Macau 41.71052631578947
Ningxia 72.68016194331983
Qinghai 17.657894736842106
Shaanxi 406.7631578947368
Shandong 798.417004048583
Shanghai 1106.6336032388665
Shanxi 201.42307692307693
Sichuan 708.4291497975709
Taiwan 22.53061224489796
Tianjin 252.46963562753035
Tibet 0.9959016393442623
Washington 162655.5899122807
Xinjiang 614.8603238866397
Yunnan 213.89473684210526
Zhejiang 1255.5708502024293
nan nan
Unknown 1892.837496968227

C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\lib\function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\gregb\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Chicago 1.0
Illinois 580695.7770419426
California 1541809.7632743362
Arizona 368085.61504424777
Ontario 150388.55263157896
New South Wales 3777.756646216769
Victoria 12981.165644171779
British Columbia 35255.22131147541
Bavaria 4.25
Queensland 1077.148148148148
Chicago, IL 2.033333333333333
South Australia 474.9111570247934
Boston, MA 1.0
Los Angeles, CA 2.763157894736842
Orange, CA 1.0
Santa Clara, CA 3.742857142857143
Seattle, WA 1.4333333333333333
Tempe, AZ 1.0
San Benito, CA 2.0
Toronto, ON 7.0
London, ON 1.0
Madison, WI 1.0
Cruise Ship 61.0
Diamond Princess cruise ship 51.91125541125541
San Diego County, CA 2.107142857142857
San Antonio, TX 1.0
Ashland, NE 11.0
Travis, CA 5.0
From Diamond Princess 2.608695652173913
Lackland, TX 2.0
None 1.0
Humboldt County, CA 1.0
Sacramento County, CA 1.6666666666666667
Omaha, NE (From Diamond Princess) 1.2941176470588236
Travis, CA (From Diamond Princess) 0.5882352941176471
Lackland, TX (From Diamond Princess) 0.23529411764705882
Unassigned Location (From Diamond Princess) 43.2
 Montreal, QC 1.7
Western Australia 714.0767543859649
Portland, OR 1.3333333333333333
Snohomish County, WA 14.7
Providence, RI 1.8333333333333333
King County, WA 51.5
Cook County, IL 5.25
Tasmania 211.9625550660793
Grafton County, NH 2.375
Hillsborough, FL 1.875
New York City, NY 1.75
Placer County, CA 3.5
San Mateo, CA 1.875
Sarasota, FL 1.0
Sonoma County, CA 1.25
Umatilla, OR 1.0
Fulton County, GA 2.7142857142857144
Washington County, OR 3.857142857142857
 Norfolk County, MA 1.4
Berkeley, CA 1.0
Maricopa County, AZ 2.0
Wake County, NC 1.0
Westchester County, NY 40.857142857142854
Orange County, CA 3.1666666666666665
Northern Territory 61.73893805309734
Contra Costa County, CA 5.333333333333333
Bergen County, NJ 3.2
Harris County, TX 4.2
San Francisco County, CA 6.2
Clark County, NV 1.4
Fort Bend County, TX 3.4
Grant County, WA 1.0
Queens County, NY 1.0
Santa Rosa County, FL 1.0
Williamson County, TN 1.0
New York County, NY 14.5
Unassigned Location, WA 5.0
Montgomery County, MD 3.5
Suffolk County, MA 5.5
Denver County, CO 2.0
Summit County, CO 2.0
Calgary, Alberta 1.0
Chatham County, NC 1.0
Delaware County, PA 1.0
Douglas County, NE 1.5
Fayette County, KY 1.0
Floyd County, GA 1.5
Marion County, IN 1.0
Middlesex County, MA 4.0
Nassau County, NY 6.75
Norwell County, MA 1.0
Ramsey County, MN 1.0
Washoe County, NV 1.5
Wayne County, PA 1.0
Yolo County, CA 1.0
Santa Clara County, CA 36.0
Grand Princess Cruise Ship 21.0
Douglas County, CO 3.0
Providence County, RI 3.0
Alameda County, CA 2.0
Broward County, FL 2.3333333333333335
Fairfield County, CT 1.3333333333333333
Lee County, FL 2.0
Pinal County, AZ 2.0
Rockland County, NY 2.6666666666666665
Saratoga County, NY 2.0
Edmonton, Alberta 2.0
Charleston County, SC 1.0
Clark County, WA 1.0
Cobb County, GA 1.6666666666666667
Davis County, UT 1.0
El Paso County, CO 1.0
Honolulu County, HI 1.3333333333333333
Jackson County, OR  1.6666666666666667
Jefferson County, WA 1.0
Kershaw County, SC 2.0
Klamath County, OR 1.0
Madera County, CA 1.0
Pierce County, WA 3.0
Plymouth County, MA 1.0
Santa Cruz County, CA 1.0
Tulsa County, OK 1.0
Montgomery County, TX 0.0
Norfolk County, MA 6.0
Montgomery County, PA 4.5
Fairfax County, VA 2.0
Rockingham County, NH 1.5
Washington, D.C. 2.0
Berkshire County, MA 1.0
Davidson County, TN 1.0
Douglas County, OR 1.0
Fresno County, CA 1.0
Harford County, MD 1.0
Hendricks County, IN 1.5
Hudson County, NJ 1.0
Johnson County, KS 1.0
Kittitas County, WA 1.0
Manatee County, FL 1.5
Marion County, OR 1.0
Okaloosa County, FL 1.0
Polk County, GA 1.0
Riverside County, CA 1.0
Shelby County, TN 1.0
Spokane County, WA 1.0
St. Louis County, MO 1.0
Suffolk County, NY 1.0
Ulster County, NY 1.0
Unassigned Location, VT 1.0
Unknown Location, MA 1.0
Volusia County, FL 1.0
Alberta 64660.55033557047
Quebec 147036.9485458613
Johnson County, IA 3.0
Harrison County, KY 2.0
Bennington County, VT 1.0
Carver County, MN 1.0
Charlotte County, FL 1.0
Cherokee County, GA 1.0
Collin County, TX 1.0
Jefferson County, KY 1.0
Jefferson Parish, LA 1.0
Shasta County, CA 1.0
Spartanburg County, SC 1.0
New York 853445.9192825112
Massachusetts 283214.0605381166
Grand Princess 56.84467120181406
Georgia 478134.8609865471
Colorado 202071.34753363227
Florida 962935.4192825112
New Jersey 412702.2399103139
Oregon 72656.51121076233
Texas 1237757.591928251
Pennsylvania 433321.16367713007
Iowa 165930.1995515695
Maryland 196739.96412556054
North Carolina 390192.0134529148
South Carolina 236037.86322869954
Tennessee 361079.9484304933
Virginia 266133.2399103139
Indiana 302475.4955156951
Kentucky 175385.43721973093
District of Columbia 22147.14798206278
Nevada 139250.87443946188
New Hampshire 32482.529147982063
Minnesota 237699.38116591927
Nebraska 97485.34977578475

KeyboardInterrupt:

In [21]:
for group,frame in df.groupby('Province/State'):
    avg = np.average(frame['Confirmed'])
    
    print('State/countries '+group+'- N# of covid cases '+str(avg))

State/countries  Montreal, QC- N# of covid cases 1.7
State/countries  Norfolk County, MA- N# of covid cases 1.4
State/countries Abruzzo- N# of covid cases 28582.59842519685
State/countries Acre- N# of covid cases 39726.962666666666
State/countries Adygea Republic- N# of covid cases 8299.195592286502
State/countries Aguascalientes- N# of covid cases 13476.352
State/countries Aichi- N# of covid cases 14612.708446866485
State/countries Akita- N# of covid cases 171.4822888283379
State/countries Alabama- N# of covid cases 238278.86681715577
State/countries Alagoas- N# of covid cases 99268.44266666667
State/countries Alameda County, CA- N# of covid cases 2.0
State/countries Alaska- N# of covid cases 26574.573033707864
State/countries Alberta- N# of covid cases 64660.55033557047
State/countries Altai Krai- N# of covid cases 26786.093663911844
State/countries Altai Republic- N# of covid cases 9435.914600550965
State/countries Amapa- N# of covid cases 61328.354666666666
State/countries Amazonas- N# of covid cases 74322.19386834986
State/countries American Samoa- N# of covid cases 0.0
State/countries Amur Oblast- N# of covid cases 11790.630853994491
State/countries Ancash- N# of covid cases 30855.059945504086
State/countries Andalusia- N# of covid cases 234644.6062992126
State/countries Andaman and Nicobar Islands- N# of covid cases 3942.892655367232
State/countries Andhra Pradesh- N# of covid cases 719605.9152542372
State/countries Anguilla- N# of covid cases 15.978971962616823
State/countries Anhui- N# of covid cases 964.2874493927126
State/countries Antioquia- N# of covid cases 218084.34877384195
State/countries Antofagasta- N# of covid cases 25597.525333333335
State/countries Antwerp- N# of covid cases 97286.64824120603
State/countries Aomori- N# of covid cases 518.8937329700273
State/countries Apurimac- N# of covid cases 7668.550408719346
State/countries Aragon- N# of covid cases 62532.19160104987
State/countries Arauca- N# of covid cases 3426.198910081744
State/countries Araucania- N# of covid cases 24996.002666666667
State/countries Arequipa- N# of covid cases 43360.67302452316
State/countries Arica y Parinacota- N# of covid cases 10346.128
State/countries Arizona- N# of covid cases 368085.61504424777
State/countries Arkansas- N# of covid cases 146450.97757847534
State/countries Arkhangelsk Oblast- N# of covid cases 32844.12396694215
State/countries Aruba- N# of covid cases 4249.42694063927
State/countries Arunachal Pradesh- N# of covid cases 12325.426553672316
State/countries Ashland, NE- N# of covid cases 11.0
State/countries Assam- N# of covid cases 176485.75141242938
State/countries Astrakhan Oblast- N# of covid cases 16349.928374655647
State/countries Asturias- N# of covid cases 22218.225721784776
State/countries Atacama- N# of covid cases 8510.882666666666
State/countries Atlantico- N# of covid cases 99337.44959128066
State/countries Australian Capital Territory- N# of covid cases 110.95936794582393
State/countries Ayacucho- N# of covid cases 13788.196185286104
State/countries Aysen- N# of covid cases 1647.2853333333333
State/countries Azad Jammu and Kashmir- N# of covid cases 7329.420903954802
State/countries Baden-Wurttemberg- N# of covid cases 184367.62992125985
State/countries Bahia- N# of covid cases 444558.256
State/countries Baja California- N# of covid cases 28429.653333333332
State/countries Baja California Sur- N# of covid cases 15510.866666666667
State/countries Baleares- N# of covid cases 28481.808398950132
State/countries Balochistan- N# of covid cases 16635.27683615819
State/countries Bashkortostan Republic- N# of covid cases 17741.581267217633
State/countries Basilicata- N# of covid cases 8597.343832020997
State/countries Bavaria- N# of covid cases 4.25
State/countries Bayern- N# of covid cases 250076.1338582677
State/countries Beijing- N# of covid cases 833.9534412955466
State/countries Belgorod Oblast- N# of covid cases 18797.438016528926
State/countries Bennington County, VT- N# of covid cases 1.0
State/countries Bergen County, NJ- N# of covid cases 3.2
State/countries Berkeley, CA- N# of covid cases 1.0
State/countries Berkshire County, MA- N# of covid cases 1.0
State/countries Berlin- N# of covid cases 70768.65354330708
State/countries Bermuda- N# of covid cases 564.62471395881
State/countries Bihar- N# of covid cases 228676.3079096045
State/countries Biobio- N# of covid cases 46650.536
State/countries Blekinge- N# of covid cases 4318.651810584958
State/countries Bolivar- N# of covid cases 43936.46866485014
State/countries Bonaire, Sint Eustatius and Saba- N# of covid cases 211.4822695035461
State/countries Boston, MA- N# of covid cases 1.0
State/countries Boyaca- N# of covid cases 24405.31607629428
State/countries Brandenburg- N# of covid cases 37930.7532808399
State/countries Bremen- N# of covid cases 10435.795275590552
State/countries British Columbia- N# of covid cases 35255.22131147541
State/countries British Virgin Islands- N# of covid cases 78.75700934579439
State/countries Broward County, FL- N# of covid cases 2.3333333333333335
State/countries Brussels- N# of covid cases 97398.69849246231
State/countries Bryansk Oblast- N# of covid cases 20082.67217630854
State/countries Buryatia Republic- N# of covid cases 19216.757575757576
State/countries C. Valenciana- N# of covid cases 162145.58792650918
State/countries Cajamarca- N# of covid cases 24274.604904632153
State/countries Calabria- N# of covid cases 20694.76902887139
State/countries Caldas- N# of covid cases 25877.367847411446
State/countries Calgary, Alberta- N# of covid cases 1.0
State/countries California- N# of covid cases 1541809.7632743362
State/countries Callao- N# of covid cases 44879.651226158036
State/countries Campania- N# of covid cases 146864.1338582677
State/countries Campeche- N# of covid cases 6357.664
State/countries Canarias- N# of covid cases 23381.325459317584
State/countries Cantabria- N# of covid cases 14052.07349081365
State/countries Capital District- N# of covid cases 408560.5994550409
State/countries Caqueta- N# of covid cases 10899.307901907358
State/countries Carver County, MN- N# of covid cases 1.0
State/countries Casanare- N# of covid cases 7040.0
State/countries Castilla - La Mancha- N# of covid cases 90404.66666666667
State/countries Castilla y Leon- N# of covid cases 111355.27034120735
State/countries Catalonia- N# of covid cases 299798.15223097114
State/countries Cauca- N# of covid cases 15789.185286103542
State/countries Cayman Islands- N# of covid cases 279.9681818181818
State/countries Ceara- N# of covid cases 328999.8213333333
State/countries Cesar- N# of covid cases 27191.610354223434
State/countries Ceuta- N# of covid cases 2460.170603674541
State/countries Chandigarh- N# of covid cases 17959.790960451977
State/countries Channel Islands- N# of covid cases 1816.1325842696629
State/countries Charleston County, SC- N# of covid cases 1.0
State/countries Charlotte County, FL- N# of covid cases 1.0
State/countries Chatham County, NC- N# of covid cases 1.0
State/countries Chechen Republic- N# of covid cases 6353.650137741047
State/countries Chelyabinsk Oblast- N# of covid cases 30494.790633608816
State/countries Cherkasy Oblast- N# of covid cases 28500.67217630854
State/countries Chernihiv Oblast- N# of covid cases 21292.112947658403
State/countries Chernivtsi Oblast- N# of covid cases 34696.2479338843
State/countries Cherokee County, GA- N# of covid cases 1.0
State/countries Chhattisgarh- N# of covid cases 257649.38418079095
State/countries Chiapas- N# of covid cases 7657.533333333334
State/countries Chiba- N# of covid cases 13289.25068119891
State/countries Chicago- N# of covid cases 1.0
State/countries Chicago, IL- N# of covid cases 2.033333333333333
State/countries Chihuahua- N# of covid cases 25968.034666666666
State/countries Choco- N# of covid cases 4826.743869209809
State/countries Chongqing- N# of covid cases 571.0546558704453
State/countries Chukotka Autonomous Okrug- N# of covid cases 418.0192837465565
State/countries Chuvashia Republic- N# of covid cases 14042.70523415978
State/countries Ciudad de Mexico- N# of covid cases 294911.792
State/countries Clark County, NV- N# of covid cases 1.4
State/countries Clark County, WA- N# of covid cases 1.0
State/countries Coahuila- N# of covid cases 38956.144
State/countries Cobb County, GA- N# of covid cases 1.6666666666666667
State/countries Colima- N# of covid cases 6483.026666666667
State/countries Collin County, TX- N# of covid cases 1.0
State/countries Colorado- N# of covid cases 202071.34753363227
State/countries Connecticut- N# of covid cases 135790.76457399104
State/countries Contra Costa County, CA- N# of covid cases 5.333333333333333
State/countries Cook County, IL- N# of covid cases 5.25
State/countries Coquimbo- N# of covid cases 14997.888
State/countries Cordoba- N# of covid cases 27140.637602179835
State/countries Crimea Republic*- N# of covid cases 18704.71349862259
State/countries Cruise Ship- N# of covid cases 61.0
State/countries Cundinamarca- N# of covid cases 61015.8446866485
State/countries Curacao- N# of covid cases 3020.6204545454543
State/countries Cusco- N# of covid cases 24959.384196185285
State/countries Dadar Nagar Haveli- N# of covid cases 22.0
State/countries Dadra and Nagar Haveli and Daman and Diu- N# of covid cases 3369.1983002832862
State/countries Dagestan Republic- N# of covid cases 19976.366391184572
State/countries Dalarna- N# of covid cases 9395.183844011142
State/countries Davidson County, TN- N# of covid cases 1.0
State/countries Davis County, UT- N# of covid cases 1.0
State/countries Delaware- N# of covid cases 41534.988789237665
State/countries Delaware County, PA- N# of covid cases 1.0
State/countries Delhi- N# of covid cases 514056.13559322036
State/countries Denmark- N# of covid cases 929.9090909090909
State/countries Denver County, CO- N# of covid cases 2.0
State/countries Diamond Princess cruise ship- N# of covid cases 51.91125541125541
State/countries District of Columbia- N# of covid cases 22147.14798206278
State/countries Distrito Federal- N# of covid cases 217872.936
State/countries Dnipropetrovsk Oblast- N# of covid cases 44686.65840220386
State/countries Donetsk Oblast- N# of covid cases 28973.878787878788
State/countries Douglas County, CO- N# of covid cases 3.0
State/countries Douglas County, NE- N# of covid cases 1.5
State/countries Douglas County, OR- N# of covid cases 1.0
State/countries Drenthe- N# of covid cases 13496.523659305994
State/countries Durango- N# of covid cases 18028.877333333334
State/countries East Flanders- N# of covid cases 83576.02512562813
State/countries Edmonton, Alberta- N# of covid cases 2.0
State/countries Ehime- N# of covid cases 683.2697547683923
State/countries El Paso County, CO- N# of covid cases 1.0
State/countries Emilia-Romagna- N# of covid cases 148519.74540682413
State/countries England- N# of covid cases 1887330.0793201134
State/countries Espirito Santo- N# of covid cases 212986.768
State/countries External territories- N# of covid cases 0.0
State/countries Extremadura- N# of covid cases 33575.40157480315
State/countries Fairfax County, VA- N# of covid cases 2.0
State/countries Fairfield County, CT- N# of covid cases 1.3333333333333333
State/countries Falkland Islands (Islas Malvinas)- N# of covid cases 1.6666666666666667
State/countries Falkland Islands (Malvinas)- N# of covid cases 27.54066985645933
State/countries Faroe Islands- N# of covid cases 434.4561797752809
State/countries Fayette County, KY- N# of covid cases 1.0
State/countries Fench Guiana- N# of covid cases 5.0
State/countries Flemish Brabant- N# of covid cases 59502.88944723618
State/countries Flevoland- N# of covid cases 16226.97476340694
State/countries Florida- N# of covid cases 962935.4192825112
State/countries Floyd County, GA- N# of covid cases 1.5
State/countries Fort Bend County, TX- N# of covid cases 3.4
State/countries France- N# of covid cases 7116.727272727273
State/countries French Guiana- N# of covid cases 10019.990929705215
State/countries French Polynesia- N# of covid cases 8531.135440180587
State/countries Fresno County, CA- N# of covid cases 1.0
State/countries Friesland- N# of covid cases 16335.78548895899
State/countries Friuli Venezia Giulia- N# of covid cases 40184.545931758534
State/countries From Diamond Princess- N# of covid cases 2.608695652173913
State/countries Fujian- N# of covid cases 427.165991902834
State/countries Fukui- N# of covid cases 388.9291553133515
State/countries Fukuoka- N# of covid cases 10299.569482288829
State/countries Fukushima- N# of covid cases 1176.9373297002726
State/countries Fulton County, GA- N# of covid cases 2.7142857142857144
State/countries Galicia- N# of covid cases 56364.24409448819
State/countries Gansu- N# of covid cases 159.82862903225808
State/countries Gavleborg- N# of covid cases 13093.643454038996
State/countries Gelderland- N# of covid cases 78568.36277602524
State/countries Georgia- N# of covid cases 478134.8609865471
State/countries Gibraltar- N# of covid cases 1639.7550561797752
State/countries Gifu- N# of covid cases 2396.41689373297
State/countries Gilgit-Baltistan- N# of covid cases 4017.901129943503
State/countries Goa- N# of covid cases 45430.03389830508
State/countries Goias- N# of covid cases 269545.2426666667
State/countries Gotland- N# of covid cases 1584.933147632312
State/countries Grafton County, NH- N# of covid cases 2.375
State/countries Grand Princess- N# of covid cases 56.84467120181406
State/countries Grand Princess Cruise Ship- N# of covid cases 21.0
State/countries Grant County, WA- N# of covid cases 1.0
State/countries Greenland- N# of covid cases 19.82608695652174
State/countries Groningen- N# of covid cases 15672.574132492113
State/countries Guadeloupe- N# of covid cases 5787.356818181818
State/countries Guainia- N# of covid cases 886.1284153005464
State/countries Guam- N# of covid cases 4023.421768707483
State/countries Guanajuato- N# of covid cases 67931.38133333334
State/countries Guangdong- N# of covid cases 1811.6923076923076
State/countries Guangxi- N# of covid cases 253.28542510121457
State/countries Guaviare- N# of covid cases 1436.6067415730338
State/countries Guerrero- N# of covid cases 23180.413333333334
State/countries Guizhou- N# of covid cases 142.35425101214574
State/countries Gujarat- N# of covid cases 234034.29943502825
State/countries Gunma- N# of covid cases 2391.376021798365
State/countries Hainan- N# of covid cases 167.18421052631578
State/countries Hainaut- N# of covid cases 118346.05025125628
State/countries Halland- N# of covid cases 13581.384401114206
State/countries Hamburg- N# of covid cases 29572.286089238845
State/countries Harford County, MD- N# of covid cases 1.0
State/countries Harris County, TX- N# of covid cases 4.2
State/countries Harrison County, KY- N# of covid cases 2.0
State/countries Haryana- N# of covid cases 221033.7627118644
State/countries Hawaii- N# of covid cases 14757.163677130045
State/countries Hebei- N# of covid cases 603.4828282828283
State/countries Heilongjiang- N# of covid cases 1027.6234817813765
State/countries Henan- N# of covid cases 1252.919028340081
State/countries Hendricks County, IN- N# of covid cases 1.5
State/countries Hessen- N# of covid cases 103896.43307086614
State/countries Hidalgo- N# of covid cases 20486.565333333332
State/countries Hillsborough, FL- N# of covid cases 1.875
State/countries Himachal Pradesh- N# of covid cases 43771.05084745763
State/countries Hiroshima- N# of covid cases 2646.3188010899185
State/countries Hokkaido- N# of covid cases 10778.809264305177
State/countries Hong Kong- N# of covid cases 5376.386639676113
State/countries Honolulu County, HI- N# of covid cases 1.3333333333333333
State/countries Huancavelica- N# of covid cases 7059.226158038147
State/countries Huanuco- N# of covid cases 17670.024523160762
State/countries Hubei- N# of covid cases 65303.63232323233
State/countries Hudson County, NJ- N# of covid cases 1.0
State/countries Huila- N# of covid cases 27400.73841961853
State/countries Humboldt County, CA- N# of covid cases 1.0
State/countries Hunan- N# of covid cases 998.5506072874493
State/countries Hyogo- N# of covid cases 10767.397820163487
State/countries Ibaraki- N# of covid cases 2996.5204359673025
State/countries Ica- N# of covid cases 29415.25068119891
State/countries Idaho- N# of covid cases 81848.54484304933
State/countries Illinois- N# of covid cases 580695.7770419426
State/countries Indiana- N# of covid cases 302475.4955156951
State/countries Ingushetia Republic- N# of covid cases 9458.669421487602
State/countries Inner Mongolia- N# of covid cases 264.46153846153845
State/countries Iowa- N# of covid cases 165930.1995515695
State/countries Irkutsk Oblast- N# of covid cases 34967.64462809917
State/countries Ishikawa- N# of covid cases 1187.931880108992
State/countries Islamabad- N# of covid cases 34817.93502824859
State/countries Isle of Man- N# of covid cases 568.1559633027523
State/countries Ivano-Frankivsk Oblast- N# of covid cases 37210.440771349866
State/countries Ivanovo Oblast- N# of covid cases 18173.2782369146
State/countries Iwate- N# of covid cases 374.4778481012658
State/countries Jackson County, OR - N# of covid cases 1.6666666666666667
State/countries Jalisco- N# of covid cases 44526.130666666664
State/countries Jammu and Kashmir- N# of covid cases 99196.82485875706
State/countries Jamtland Harjedalen- N# of covid cases 4349.571030640668
State/countries Jefferson County, KY- N# of covid cases 1.0
State/countries Jefferson County, WA- N# of covid cases 1.0
State/countries Jefferson Parish, LA- N# of covid cases 1.0
State/countries Jervis Bay Territory- N# of covid cases 0.0
State/countries Jewish Autonomous Okrug- N# of covid cases 2569.99173553719
State/countries Jharkhand- N# of covid cases 104243.89265536724
State/countries Jiangsu- N# of covid cases 653.9736842105264
State/countries Jiangxi- N# of covid cases 909.1963562753036
State/countries Jilin- N# of covid cases 247.05668016194332
State/countries Johnson County, IA- N# of covid cases 3.0
State/countries Johnson County, KS- N# of covid cases 1.0
State/countries Jonkoping- N# of covid cases 16504.072423398327
State/countries Junin- N# of covid cases 28540.449591280652
State/countries Kabardino-Balkarian Republic- N# of covid cases 13597.81267217631
State/countries Kagawa- N# of covid cases 435.8038147138965
State/countries Kagoshima- N# of covid cases 999.9100817438692
State/countries Kaliningrad Oblast- N# of covid cases 14977.292011019284
State/countries Kalmar- N# of covid cases 6880.038997214485
State/countries Kalmykia Republic- N# of covid cases 11469.476584022039
State/countries Kaluga Oblast- N# of covid cases 18376.044077134986
State/countries Kamchatka Krai- N# of covid cases 8263.90909090909
State/countries Kanagawa- N# of covid cases 22592.485013623977
State/countries Kansas- N# of covid cases 133521.5201793722
State/countries Karachay-Cherkess Republic- N# of covid cases 11977.34435261708
State/countries Karelia Republic- N# of covid cases 20653.977961432505
State/countries Karnataka- N# of covid cases 797334.0677966102
State/countries Kemerovo Oblast- N# of covid cases 19186.396694214876
State/countries Kentucky- N# of covid cases 175385.43721973093
State/countries Kerala- N# of covid cases 674952.5762711865
State/countries Kershaw County, SC- N# of covid cases 2.0
State/countries Khabarovsk Krai- N# of covid cases 27575.465564738293
State/countries Khakassia Republic- N# of covid cases 12171.43526170799
State/countries Khanty-Mansi Autonomous Okrug- N# of covid cases 34099.36914600551
State/countries Kharkiv Oblast- N# of covid cases 55480.55371900826
State/countries Kherson Oblast- N# of covid cases 12329.823691460055
State/countries Khmelnytskyi Oblast- N# of covid cases 31323.471074380166
State/countries Khyber Pakhtunkhwa- N# of covid cases 58961.627118644064
State/countries Kiev- N# of covid cases 82471.82369146006
State/countries Kiev Oblast- N# of covid cases 45943.030303030304

State/countries Sachsen-Anhalt- N# of covid cases 30195.929133858266
State/countries Sacramento County, CA- N# of covid cases 1.6666666666666667
State/countries Saga- N# of covid cases 637.6594005449591
State/countries Saint Barthelemy- N# of covid cases 249.6314606741573
State/countries Saint Helena, Ascension and Tristan da Cunha- N# of covid cases 2.046403712296984
State/countries Saint Petersburg- N# of covid cases 190272.14876033057
State/countries Saint Pierre and Miquelon- N# of covid cases 13.064285714285715
State/countries Saitama- N# of covid cases 15381.959128065395
State/countries Sakha (Yakutiya) Republic- N# of covid cases 19787.922865013774
State/countries Sakhalin Oblast- N# of covid cases 12054.818181818182
State/countries Samara Oblast- N# of covid cases 28279.085399449035
State/countries San Andres y Providencia- N# of covid cases 1836.9891008174386
State/countries San Antonio, TX- N# of covid cases 1.0
State/countries San Benito, CA- N# of covid cases 2.0
State/countries San Diego County, CA- N# of covid cases 2.107142857142857
State/countries San Francisco County, CA- N# of covid cases 6.2
State/countries San Luis Potosi- N# of covid cases 33732.792
State/countries San Martin- N# of covid cases 22090.76021798365
State/countries San Mateo, CA- N# of covid cases 1.875
State/countries Santa Catarina- N# of covid cases 403174.01866666664
State/countries Santa Clara County, CA- N# of covid cases 36.0
State/countries Santa Clara, CA- N# of covid cases 3.742857142857143
State/countries Santa Cruz County, CA- N# of covid cases 1.0
State/countries Santa Rosa County, FL- N# of covid cases 1.0
State/countries Santander- N# of covid cases 53585.882833787466
State/countries Sao Paulo- N# of covid cases 1390157.1866666668
State/countries Sarasota, FL- N# of covid cases 1.0
State/countries Saratoga County, NY- N# of covid cases 2.0
State/countries Saratov Oblast- N# of covid cases 30333.413223140495
State/countries Sardegna- N# of covid cases 22094.85564304462
State/countries Saskatchewan- N# of covid cases 12454.539503386004
State/countries Schleswig-Holstein- N# of covid cases 22404.443569553805
State/countries Scotland- N# of covid cases 112163.91218130312
State/countries Seattle, WA- N# of covid cases 1.4333333333333333
State/countries Sergipe- N# of covid cases 104950.832
State/countries Sevastopol*- N# of covid cases 5947.292011019284
State/countries Shaanxi- N# of covid cases 406.7631578947368
State/countries Shandong- N# of covid cases 798.417004048583
State/countries Shanghai- N# of covid cases 1106.6336032388665
State/countries Shanxi- N# of covid cases 201.42307692307693
State/countries Shasta County, CA- N# of covid cases 1.0
State/countries Shelby County, TN- N# of covid cases 1.0
State/countries Shiga- N# of covid cases 1416.9809264305177
State/countries Shimane- N# of covid cases 190.71117166212534
State/countries Shizuoka- N# of covid cases 2636.8610354223433
State/countries Sichuan- N# of covid cases 708.4291497975709
State/countries Sicilia- N# of covid cases 77584.49606299213
State/countries Sikkim- N# of covid cases 4531.847457627118
State/countries Sinaloa- N# of covid cases 23374.109333333334
State/countries Sindh- N# of covid cases 189694.93220338982
State/countries Sint Maarten- N# of covid cases 987.3050458715596
State/countries Skane- N# of covid cases 56004.81615598886
State/countries Smolensk Oblast- N# of covid cases 15254.236914600551
State/countries Snohomish County, WA- N# of covid cases 14.7
State/countries Sonoma County, CA- N# of covid cases 1.25
State/countries Sonora- N# of covid cases 41943.973333333335
State/countries Sormland- N# of covid cases 8833.33704735376
State/countries South Australia- N# of covid cases 474.9111570247934
State/countries South Carolina- N# of covid cases 236037.86322869954
State/countries South Dakota- N# of covid cases 54522.5067264574
State/countries Spartanburg County, SC- N# of covid cases 1.0
State/countries Spokane County, WA- N# of covid cases 1.0
State/countries St Martin- N# of covid cases 685.6651685393258
State/countries St. Louis County, MO- N# of covid cases 1.0
State/countries Stavropol Krai- N# of covid cases 28803.26997245179
State/countries Stockholm- N# of covid cases 97494.23119777159
State/countries Sucre- N# of covid cases 15585.32970027248
State/countries Suffolk County, MA- N# of covid cases 5.5
State/countries Suffolk County, NY- N# of covid cases 1.0
State/countries Summit County, CO- N# of covid cases 2.0
State/countries Sumy Oblast- N# of covid cases 29078.24517906336
State/countries Sverdlovsk Oblast- N# of covid cases 49254.74104683196
State/countries Tabasco- N# of covid cases 38770.55733333333
State/countries Tacna- N# of covid cases 13168.994550408719
State/countries Taiwan- N# of covid cases 22.53061224489796
State/countries Tamaulipas- N# of covid cases 34058.89333333333
State/countries Tambov Oblast- N# of covid cases 16042.479338842975
State/countries Tamil Nadu- N# of covid cases 713124.8700564972
State/countries Tarapaca- N# of covid cases 16743.597333333335
State/countries Tasmania- N# of covid cases 211.9625550660793
State/countries Tatarstan Republic- N# of covid cases 11799.239669421488
State/countries Telangana- N# of covid cases 239978.61016949153
State/countries Tempe, AZ- N# of covid cases 1.0
State/countries Tennessee- N# of covid cases 361079.9484304933
State/countries Ternopil Oblast- N# of covid cases 28320.823691460057
State/countries Texas- N# of covid cases 1237757.591928251
State/countries Thuringen- N# of covid cases 39418.92650918635
State/countries Tianjin- N# of covid cases 252.46963562753035
State/countries Tibet- N# of covid cases 0.9959016393442623
State/countries Tlaxcala- N# of covid cases 10519.656
State/countries Tocantins- N# of covid cases 81000.728
State/countries Tochigi- N# of covid cases 2017.1607629427792
State/countries Tokushima- N# of covid cases 352.02724795640324
State/countries Tokyo- N# of covid cases 61398.158038147136
State/countries Tolima- N# of covid cases 34084.71662125341
State/countries Tomsk Oblast- N# of covid cases 17702.89256198347
State/countries Toronto, ON- N# of covid cases 7.0
State/countries Toscana- N# of covid cases 91390.88451443569
State/countries Tottori- N# of covid cases 127.1716621253406
State/countries Toyama- N# of covid cases 637.1307901907356
State/countries Travis, CA- N# of covid cases 5.0
State/countries Travis, CA (From Diamond Princess)- N# of covid cases 0.5882352941176471
State/countries Tripura- N# of covid cases 25632.954802259886
State/countries Tula Oblast- N# of covid cases 20323.20385674931
State/countries Tulsa County, OK- N# of covid cases 1.0
State/countries Tumbes- N# of covid cases 8725.119891008175
State/countries Turks and Caicos Islands- N# of covid cases 925.5163551401869
State/countries Tver Oblast- N# of covid cases 18949.005509641873
State/countries Tyumen Oblast- N# of covid cases 18957.80991735537
State/countries Tyva Republic- N# of covid cases 11052.798898071625
State/countries UK- N# of covid cases 456.0
State/countries US- N# of covid cases 1.0
State/countries Ucayali- N# of covid cases 18424.811989100817
State/countries Udmurt Republic- N# of covid cases 15597.137741046832
State/countries Ulster County, NY- N# of covid cases 1.0
State/countries Ulyanovsk Oblast- N# of covid cases 29187.793388429753
State/countries Umatilla, OR- N# of covid cases 1.0
State/countries Umbria- N# of covid cases 22518.377952755905
State/countries Unassigned Location (From Diamond Princess)- N# of covid cases 43.2
State/countries Unassigned Location, VT- N# of covid cases 1.0
State/countries Unassigned Location, WA- N# of covid cases 5.0
State/countries United Kingdom- N# of covid cases 2320.777777777778
State/countries United States Virgin Islands- N# of covid cases 3.25
State/countries Unknown- N# of covid cases 1892.837496968227
State/countries Unknown Location, MA- N# of covid cases 1.0
State/countries Uppsala- N# of covid cases 15174.011142061281
State/countries Utah- N# of covid cases 168368.39461883408
State/countries Utrecht- N# of covid cases 57025.1356466877
State/countries Uttar Pradesh- N# of covid cases 530764.6016949152
State/countries Uttarakhand- N# of covid cases 80087.16101694915
State/countries Valle d'Aosta- N# of covid cases 5127.270341207349
State/countries Valle del Cauca- N# of covid cases 116607.53133514986
State/countries Valparaiso- N# of covid cases 38012.896
State/countries Varmland- N# of covid cases 5899.387186629527
State/countries Vasterbotten- N# of covid cases 7761.676880222842
State/countries Vasternorrland- N# of covid cases 8921.047353760445
State/countries Vastmanland- N# of covid cases 10989.618384401114
State/countries Vastra Gotaland- N# of covid cases 69795.82729805014
State/countries Vaupes- N# of covid cases 821.841961852861
State/countries Veneto- N# of covid cases 174958.93700787402
State/countries Veracruz- N# of covid cases 37863.632
State/countries Vermont- N# of covid cases 6983.103139013453
State/countries Vichada- N# of covid cases 823.7808219178082
State/countries Victoria- N# of covid cases 12981.165644171779
State/countries Vinnytsia Oblast- N# of covid cases 23914.628099173555
State/countries Virgin Islands- N# of covid cases 1430.6826484018266
State/countries Virgin Islands, U.S.- N# of covid cases 1.0
State/countries Virginia- N# of covid cases 266133.2399103139
State/countries Vladimir Oblast- N# of covid cases 16234.137741046832
State/countries Volgograd Oblast- N# of covid cases 29864.666666666668
State/countries Vologda Oblast- N# of covid cases 19646.644628099173
State/countries Volusia County, FL- N# of covid cases 1.0
State/countries Volyn Oblast- N# of covid cases 24986.093663911844
State/countries Voronezh Oblast- N# of covid cases 39917.89256198347
State/countries Wakayama- N# of covid cases 738.1198910081744
State/countries Wake County, NC- N# of covid cases 1.0
State/countries Wales- N# of covid cases 108867.20679886686
State/countries Wallis and Futuna- N# of covid cases 221.01360544217687
State/countries Walloon Brabant- N# of covid cases 30130.497487437187
State/countries Washington- N# of covid cases 162655.5899122807
State/countries Washington County, OR- N# of covid cases 3.857142857142857
State/countries Washington, D.C.- N# of covid cases 2.0
State/countries Washoe County, NV- N# of covid cases 1.5
State/countries Wayne County, PA- N# of covid cases 1.0
State/countries West Bengal- N# of covid cases 435227.1892655367
State/countries West Flanders- N# of covid cases 67834.8743718593
State/countries West Virginia- N# of covid cases 55564.63452914798
State/countries Westchester County, NY- N# of covid cases 40.857142857142854
State/countries Western Australia- N# of covid cases 714.0767543859649
State/countries Williamson County, TN- N# of covid cases 1.0
State/countries Wisconsin- N# of covid cases 291573.74887892377
State/countries Wuhan Evacuee- N# of covid cases 4.0
State/countries Wyoming- N# of covid cases 24077.681614349774
State/countries Xinjiang- N# of covid cases 614.8603238866397
State/countries Yamagata- N# of covid cases 439.1008174386921
State/countries Yamaguchi- N# of covid cases 719.3024523160763
State/countries Yamalo-Nenets Autonomous Okrug- N# of covid cases 24465.807162534435
State/countries Yamanashi- N# of covid cases 534.8065395095368
State/countries Yaroslavl Oblast- N# of covid cases 19425.793388429753
State/countries Yolo County, CA- N# of covid cases 1.0
State/countries Yucatan- N# of covid cases 22162.824
State/countries Yukon- N# of covid cases 38.38139534883721
State/countries Yunnan- N# of covid cases 213.89473684210526
State/countries Zabaykalsky Krai- N# of covid cases 21067.09641873278
State/countries Zacatecas- N# of covid cases 15428.666666666666
State/countries Zakarpattia Oblast- N# of covid cases 25596.57300275482
State/countries Zaporizhia Oblast- N# of covid cases 38177.56749311295
State/countries Zeeland- N# of covid cases 10898.91167192429
State/countries Zhejiang- N# of covid cases 1255.5708502024293
State/countries Zhytomyr Oblast- N# of covid cases 32341.67217630854
State/countries Zuid-Holland- N# of covid cases 176137.85488958991

### Pivot tables

In [60]:
df = pd.read_csv('week3/universities_ranking.csv')

In [61]:
df

,ranking,title,location,number students,students staff ratio,perc intl students,gender ratio
0,1,University of Oxford,United Kingdom,"20,774",11.1,41%,46 : 54
1,2,Stanford University,United States,"16,223",7.4,23%,44 : 56
2,3,Harvard University,United States,"21,261",9.3,25%,49 : 51
3,4,California Institute of Technology,United States,"2,238",6.3,33%,36 : 64
4,5,Massachusetts Institute of Technology,United States,"11,276",8.4,34%,39 : 61
...,...,...,...,...,...,...,...
1521,1522,Yuan Ze University,Taiwan,"8,188",19.7,7%,42 : 58
1522,1523,Yuriy Fedkovych Chernivtsi National University,Ukraine,"12,616",10.7,0%,57 : 43
1523,1524,Zagazig University,Egypt,"156,270",24.4,2%,54 : 46
1524,1525,University of Zagreb,Croatia,"59,336",15.3,3%,59 : 41
1525,1526,University of Å½ilina,Slovakia,"7,136",11.7,2%,34 : 66

In [65]:
def gating(rank):
    if (rank>=1) & (rank<= 100):
        return 'FT'
    elif (rank>=101) & (rank<=200):
        return 'ST'
    elif (rank>=201) & (rank<=300):
        return 'TT'
    else:
        return '4T'

In [66]:
df['Rank_level']=df['ranking'].apply(lambda x: gating(x))

In [67]:
df

,ranking,title,location,number students,students staff ratio,perc intl students,gender ratio,Rank_level
0,1,University of Oxford,United Kingdom,"20,774",11.1,41%,46 : 54,FT
1,2,Stanford University,United States,"16,223",7.4,23%,44 : 56,FT
2,3,Harvard University,United States,"21,261",9.3,25%,49 : 51,FT
3,4,California Institute of Technology,United States,"2,238",6.3,33%,36 : 64,FT
4,5,Massachusetts Institute of Technology,United States,"11,276",8.4,34%,39 : 61,FT
...,...,...,...,...,...,...,...,...
1521,1522,Yuan Ze University,Taiwan,"8,188",19.7,7%,42 : 58,4T
1522,1523,Yuriy Fedkovych Chernivtsi National University,Ukraine,"12,616",10.7,0%,57 : 43,4T
1523,1524,Zagazig University,Egypt,"156,270",24.4,2%,54 : 46,4T
1524,1525,University of Zagreb,Croatia,"59,336",15.3,3%,59 : 41,4T
1525,1526,University of Å½ilina,Slovakia,"7,136",11.7,2%,34 : 66,4T

In [70]:
df.pivot_table(values='score',index='location',columns='Rank_level',aggfunc=[np.mean]).head()

KeyError: 'score'